.country-display {
  overflow: hidden;
  max-width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.country-display >.country-content {
  display: flex;
  gap: 0.5rem;
  width: 100%;
}

.country-display > .country-content > .country-label {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.country-display > .country-content:has(.flag-icon-right)   {
 flex-direction: row-reverse;
 justify-content: flex-end;
}

.country-display > .country-content > .flag-icon {
  line-height: inherit;
  min-width: 1.5rem;
}

.country-display > .country-content > .flag-icon-rounded {
  object-fit: cover;
}

.country-display > .country-content > .flag-icon-squared {
  border-radius: 0;
}

.country-display :has(.flag-icon-right-edge) {
  flex-direction: row-reverse;  
  justify-content: space-between;   
}

