.multiselect-options .currency-label {
  align-items: baseline;
  display: flex;
  gap: 0.5rem;
  width: 100%;
}

.multiselect-options .currency-label .code {
  color: var(--dz-secondary-color, #475569);
  font-size: 0.9rem;
}

.multiselect-options .currency-label .symbol {
  margin-inline: 0.75rem;
}

.multiselect-options .currency-label .primary-currency-label {
  min-width: 1rem;
}

.multiselect-options .currency-label .tertiary-currency-label {
  margin-left: auto;
}

.multiselect-options li[disabled=true] .currency-label .code {
  opacity: 0.6;
}
