.date-picker {
  --_form-field-gap: var(--form-field-gap, 0.25em);

  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: var(--_form-field-gap);
  justify-content: flex-start;
}

.date-picker label {
  --_label-color: var(--label-color, #000);

  color: var(--_label-color);
}

.date-picker
  > .dp__main:has(.dp__outer_menu_wrap)
  input[aria-label="Datepicker input"] {
  outline: 2px solid var(--field-outline-color, #007aff);
}

.date-picker .dp__main.field {
  --_input-field-margin-bottom: 0;

  gap: 0;
}

.date-picker .dp__main > div {
  width: 100%;
}

.dp--clear-btn {
  --dp-icon-color: var(--icon-color, #555);
}

.dp__disabled,
.dp__input:hover:is(.dp__disabled) {
  --_disabled-color: var(--disabled-color, #ccc);
  --_text-color: var(--text-color, #555);

  border-color: var(--_disabled-color);
  color: var(--_text-color);
}

.dp__input {
  --dp-background-color: var(--_background-color, #fff);
  --dp-border-radius: var(--_border-radius, 0.2rem);
  --dp-border-color: var(--_border-color, #555);
  --dp-font-size: var(--_font-size, 1rem);
  --dp-text-color: var(--_text-color, #000);

  padding-block: var(--_padding-block);
  padding-inline: var(--_padding-inline);
  width: 100%;
}

.dp__input_icon {
  --dp-icon-color: var(--icon-color, #555);
}

.date-picker .field input {
  --_input-field-padding-h: 2.2rem;
}

.field {
  --_background-color: var(--field-bg-color, transparent);
  --_border-color: var(--border-color);
  --_border-radius: var(--border-radius);
  --_padding-block: var(--field-padding-block, 0.5rem);
  --_padding-inline: var(--field-padding-inline, 0.75rem);
}

.invalid .dp__input {
  --dp-border-color: var(--danger-color, #dc3545);

  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'><circle cx='6' cy='6' r='4.5'/><path stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/><circle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/></svg>");
  background-position: right calc(3.5 * var(--form-input-padding-h, 0.5em))
    center;
  background-repeat: no-repeat;
  background-size: 1em;
}

.invalid .dp__input:focus-visible,
.invalid .dp__input:hover {
  box-shadow: 0 0 0 0.25rem rgb(220 53 69 / 25%);
}

.invalid .dp__input_wrap .dp--clear-btn,
.valid .dp__input_wrap .dp--clear-btn {
  margin-inline: 1rem;
}

.valid .dp__input {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'><path fill='%23198754' d='M2.3 6.73.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/></svg>") !important;
  background-position: right calc(3.5 * var(--form-input-padding-h, 0.5em))
    center;
  background-repeat: no-repeat;
  background-size: 1em;
  border-color: var(--success-color, #198754);
}

.valid .dp__input:focus-visible {
  box-shadow: 0 0 0 0.25rem rgb(25 135 84 / 25%);
}
