.date-picker {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: flex-start;
}

.date-picker
  > .dp__main:has(.dp__outer_menu_wrap):not(.invalid, .valid)
  input[aria-label="Datepicker input"] {
  outline: 1px solid var(--dz-primary-color);
}

.dp--clear-btn {
  --dp-icon-color: var(--field-icon-color, #7b7676);
}

.dp__input_icon {
  --dp-icon-color: var(--field-icon-color, #7b7676);
}

.dp__input:hover:not(.dp__input_focus) {
  border-color: var(--border-color);
}

.date-picker.field:has(.dp__input_icon) input {
  --_padding-inline: calc(var(--field-padding-inline, 0.75rem) * 2.5);
}

.invalid .dp__input,
.invalid .dp__input:hover:not(.dp__input_focus) {
  border-color: var(--dz-danger-color);
}

.invalid .dp__input_wrap .dp--clear-btn,
.valid .dp__input_wrap .dp--clear-btn {
  margin-inline: 2rem;
}

.valid .dp__input,
.valid .dp__input:hover:not(.dp__input_focus) {
  border-color: var(--dz-success-color);
}
