.field {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: var(--_gap);
  min-width: 0;
  width: 100%;
}

.field > label {
  font-weight: 500;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

fieldset legend {
  font-size: var(--form-label-font-size, 1rem);
  margin-bottom: var(--_gap);
}
