.file-input .dropzone {
  align-items: center;
  background-color: var(--dz-input-fill-color);
  border-color: #eeeeee;
  border-radius: 2px;
  border-style: dashed;
  border-width: 2px;
  color: #bdbdbd;
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-block: 1em;
  outline: none;
  padding: 30px 20px;
  transition: border 0.24s ease-in-out;
}

.file-input .dropzone.focused {
  border-color: #2196f3;
}

.file-input .dropzone.accepted {
  border-color: #00e676;
}

.file-input .dropzone.rejected {
  border-color: #ff1744;
}

.file-input .error-message {
  color: var(--error-message-color, #dc3545);
  font-size: var(--error-message-font-size, 0.8rem);
}

.file-input .selected {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 0;
}

.file-input .selected {
  padding-inline-start: 0px;
}

.file-input .selected li {
  align-items: flex-start;
  border-bottom: 1px solid #bdbdbd48;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: space-between;
  padding: 0.9rem 0;
  position: relative;
}

.file-input .selected li .info {
  display: flex;
  gap: 0.75rem;
  position: relative;
  width: 90%;
}

.file-input .selected li > button {
  padding: 0.2rem 0.3rem;
}

.file-input .selected li .preview {
  background: lightgray;
  height: 3.5rem;
  min-width: 3.5rem;
  width: 3.5rem;
}

.file-input .selected li .info .details {
  display: grid;
  gap: 1rem;
  grid-template-rows: auto 1fr;
}

.file-input .selected li .info .details > span {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; 
  display: -webkit-box;
  overflow: hidden;
  overflow-wrap: break-word; 
  text-overflow: ellipsis;
  word-break: break-word; 
}


.file-input .selected li .description-wrapper {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: auto 1fr;
  height: 2.3rem;
  width: 100%;
}

.file-input .selected li svg {
  width: 1.5rem;
}

.file-input .description-wrapper .description {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.514);
  text-overflow: ellipsis;
  height: 2.3rem;
  max-width: 40rem;
  overflow: hidden;
  white-space: nowrap;
}

.file-input .description-wrapper i {
  height: 100%;
  visibility: hidden;
}

.file-input .description-wrapper:hover i {
  visibility: visible;
}

.file-input .details {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 80%;
}

.file-input .dz-file-errors {
  background: rgba(255, 0, 0, 0.1);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1rem 0;
  padding: 0.75rem;
}

.file-input .dz-file-error {
  color: red;
}

.file-input .dz-file-error > strong {
  display: block;
  margin-bottom: 0.25rem;
}

.file-input .dz-file-error > ul {
  list-style: initial;
}

@media screen and (max-width: 576px) {
  .file-input .description-wrapper i {
    visibility: visible;
  }

  .file-input .description-wrapper .p-input-group, 
  .file-input .description-wrapper .p-input-group .field,
  .file-input .description-wrapper .p-input-group .field input {
    width: inherit;
  }
}
