form {
  --_gap: calc(3 * var(--field-gap, 0.5rem));

  align-items: stretch;
  display: flex;
  flex-direction: column;
  gap: var(--_gap);
  justify-content: flex-start;
}

form .field input.invalid,
form .field textarea.invalid,
form .field .invalid input:not(.multiselect-search > input) {
  --_border-color: var(--dz-danger-color, #dc3545);

  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'><circle cx='6' cy='6' r='4.5'/><path stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/><circle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/></svg>");
  background-repeat: no-repeat;
  background-position: right calc(0.75 * var(--_padding-inline, 0.75rem))
    center;
  background-size: 1rem;
}

form .field input.valid,
form .field textarea.valid,
form .field .valid input:not(.multiselect-search > input)  {
  --_border-color: var(--dz-success-color, #198754);

  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'><path fill='%23198754' d='M2.3 6.73.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/></svg>") !important;
  background-repeat: no-repeat;
  background-position: right calc(0.75 * var(--_padding-inline, 0.75rem))
    center;
  background-size: 1rem;
}

form .field textarea.valid,
form .field textarea.invalid {
  background-position: right calc(0.75 * var(--_padding-inline, 0.75rem) + 1rem)
    center;
}

form .field input:is(.invalid, .valid):focus-within,
form .field textarea:is(.invalid, .valid):focus-within {
  outline: none;
}

form input[type="number"]:is(.invalid, .valid) {
  appearance: textfield;
}

form input[type="number"]:is(.invalid, .valid)::-webkit-inner-spin-button,
form input[type="number"]:is(.invalid, .valid)::-webkit-outer-spin-button {
  transform: translateX(-1rem);
}

form span[role="alert"] {
  color: var(--color-alert-danger, red);
  font-size: var(--field-error-font-size, 0.8rem);
}
