fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

fieldset legend {
  font-size: var(--form-label-font-size, 1em);
  margin-bottom: 0.75rem;
}

form {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  gap: var(--form-gap, 0.75em);
  justify-content: flex-start;
}

form .actions {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  gap: 1em;
  justify-content: stretch;
}

form .actions button {
  flex: 1;
}

form .field {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: var(--form-field-gap, 0.25em);
  justify-content: flex-start;
}

form .field.typeahead {
  position: relative;
  display: inline-block;
  width: 100%;
}

form input {
  border-radius: var(---form-input-border-radius, 0.25em);
  border: 1px solid var(--form-input-border-color, #000);
  font-size: 1rem;
  padding: var(--form-input-padding-v, 0.5em) var(--form-input-padding-h, 0.5em);
  width: 100%;
}

form input:disabled {
  background-color: var(--form-input-bg-color-disabled);
  border-color: var(--form-input-border-color-disabled);
}

form input.invalid,
form textarea.invalid,
form .invalid input {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'><circle cx='6' cy='6' r='4.5'/><path stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/><circle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/></svg>");
  background-repeat: no-repeat;
  background-position: right calc(0.75 * var(----form-input-padding-h, 0.5em))
    center;
  background-size: 1em;
  border-color: var(--color-alert-danger, #dc3545);
}

form input.invalid:focus-visible,
form textarea.invalid:focus-visible,
form .invalid input:focus-visible {
  box-shadow: 0 0 0 0.25rem rgb(220 53 69 / 25%);
}

form input.valid,
form textarea.valid,
form .valid input {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'><path fill='%23198754' d='M2.3 6.73.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/></svg>") !important;
  background-repeat: no-repeat;
  background-position: right calc(0.75 * var(----form-input-padding-h, 0.5em))
    center;
  background-size: 1em;
  border-color: var(--color-alert-success, #198754);
}

form input.valid:focus-visible,
form textarea.valid:focus-visible,
form .valid input:focus-visible {
  box-shadow: 0 0 0 0.25rem rgb(25 135 84 / 25%);
}

form input[type="number"]:is(.invalid, .valid) {
  appearance: textfield;
}

form input[type="number"]:is(.invalid, .valid)::-webkit-inner-spin-button,
form input[type="number"]:is(.invalid, .valid)::-webkit-outer-spin-button {
  transform: translateX(-1rem);
}

form label {
  font-size: var(--form-label-font-size, 1em);
}

form span[role="alert"] {
  color: var(--color-alert-danger, red);
  font-size: var(--form-input-error-font-size, 0.8em);
}
