.field {
  --_input-field-margin-bottom: var(--form-input-margin-bottom, 1em);

  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: var(--form-field-gap, 0.25em);
  justify-content: flex-start;
}

.field input, .field textarea {
  --_input-field-border-color: var(--form-input-border-color, #000);
  --_input-field-border-radius: var(--form-input-border-radius, 0.25em);
  --_input-field-padding-h: var(--form-input-padding-h, 0.75em);
  --_input-field-padding-v: var(--form-input-padding-v, 0.65em);
  --_input-field-height: var(--form-input-height, 2.8em);

  border: 1px solid var(--_input-field-border-color);
  border-radius: var(--_input-field-border-radius);
  font-size: 1rem;
  height: var(--_input-field-height);
  padding: var(--_input-field-padding-v) var(--_input-field-padding-h);
  width: 100%;
}

.field input:disabled {
  cursor: default;
}

.field input[type="radio"] {
  height: fit-content;
}

.field input:disabled, .field textarea:disabled {
  background-color: var(--form-input-bg-color-disabled);
  border-color: var(--form-input-border-color-disabled);
}

.field label {
  --_input-field-label-color: var(--form-input-label-color, #000);
  
  color: var(--_input-field-label-color);
}

.field textarea:disabled {
  resize: none;
}

.field.checkbox input[type=checkbox] {
  height: fit-content;
  width: auto;
  cursor: pointer;
  accent-color: #007aff;
}
