.field > .password-input {
  align-items: center;
  border: 1px solid var(--_border-color);
  border-radius: var(--_border-radius);
  display: flex;
  position: relative;
  text-align: left;
  width: 100%;
}

.field > .password-input > input {
  border: none;
}

.field > .password-input > input:focus-within {
  --_outline: none !important;
}

.form .field > .password-input:has(input.valid) {
  --_border-color: var(--dz-success-color, #198754);
}

.form .field > .password-input:has(input.invalid) {
  --_border-color: var(--dz-danger-color, #dc3545);
}

.field > .password-input:has(input:focus-within) {
  --_border-color: var(--dz-primary-color);
}

.password-input .eye-icon {
  cursor: pointer;
  display: flex;
  margin-right: var(--field-padding-inline, 0.75rem);
  right: 0;
}

.password-input:has(input[type='password']:disabled) .eye-icon {
  cursor: not-allowed;
  opacity: 0.8;
}

form .password-input .invalid:-webkit-autofill + .eye-icon > *,
form .password-input .valid:-webkit-autofill + .eye-icon > * {
  margin: 0;
}
