.field > .password-input {
  align-items: center;
  display: flex;
  position: relative;
  text-align: left;
  width: 100%;
}

.password-input .eye-icon {
  cursor: pointer;
  display: flex;
  margin-right: 0.5rem;
  position: absolute;
  right: 0;
}

form .password-input .invalid + .eye-icon > *,
form .password-input .valid + .eye-icon > * {
  margin-right: 1.5rem;
}
