.field > .password-input {
  align-items: center;
  display: flex;
  position: relative;
  text-align: left;
  width: 100%;
}

.password-input .eye-icon {
  cursor: pointer;
  display: flex;
  margin-right: var(--field-padding-inline, 0.75rem);
  position: absolute;
  right: 0;
}

.password-input:has(input[type='password']:disabled) .eye-icon {
  cursor: not-allowed;
  opacity: 0.8;
}

form .password-input .invalid + .eye-icon > *,
form .password-input .valid + .eye-icon > * {
  margin-right: 1rem;
}
form .password-input .invalid:-webkit-autofill + .eye-icon > *,
form .password-input .valid:-webkit-autofill + .eye-icon > * {
  margin: 0;
}
