.field {
  --_background-color: var(--field-bg-color, transparent);
  --_background-color-disabled: var(--field-bg-color-disabled, #f8f8f8);
  --_border-color: var(--border-color);
  --_border-radius: var(--border-radius);
  --_icon-color: var(--field-icon-color, #7b7676);
  --_padding-block: var(--field-padding-block, 0.5rem);
  --_padding-inline: var(--field-padding-inline, 0.75rem);
  --_placeholder-color: var(--field-placeholder-color, #7b7676);
  --_options-menu-background-color: var(--list-menu-bg-color, #ffffff);
  --_option-background-color-hover: var(--list-item-bg-hover, #eff6ff);
  --_option-background-color-active: var(--list-item-bg-active, #eff6ff);
}

.field:has(.multiselect):not(:has(.multiselect-options)) {
  overflow: hidden;
}

.multiselect {
  position: relative;
  width: 100%;
}

.multiselect > .multiselect-options {
  background-color: #fff;
  border-top: none;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  box-shadow: 1px 1px 5px 1px #ccc;
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-top: 4px;
  max-height: 12.5rem;
  min-width: 12rem;
  overflow-y: auto;
  padding: 0.75rem 0.65rem;
  position: absolute;
  width: 100%;
  z-index: 1000;
}

.multiselect > .multiselect-options > ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  overflow-y: auto;
  row-gap: 0.3rem;
  width: 100%;
}

.multiselect > .multiselect-input {
  align-items: center;
  background-color: var(--_background-color);
  border: 1px solid var(--_border-color);
  border-radius: var(--_border-radius);
  display: flex;
  cursor: pointer;
  justify-content: space-between;
  padding-block: var(--_padding-block);
  padding-inline: var(--_padding-inline);
  user-select: none;
}

.multiselect:not(.invalid, .valid) > .multiselect-input.focused,
.multiselect:not(.invalid, .valid) > .multiselect-input:focus {
  outline: 1px solid var(--dz-primary-color);
}

.multiselect .multiselect-input:has(.multiselect-search) {
  --_padding-h: 0;

  overflow: hidden;
}

.multiselect .multiselect-input > .multiselect-search > input {
  border-color: transparent;
  box-shadow: none;
  padding: 0;
}

.multiselect .multiselect-input > .multiselect-search > input:focus-within {
  outline: none;
}

.multiselect > .multiselect-input.disabled {
  --_background-color: var(--_background-color-disabled);

  color: var(--field-color-disabled, #7b7676);
  cursor: not-allowed;
  opacity: 0.8;
}

.multiselect.invalid .multiselect-input {
  --_border-color: var(--color-alert-danger, #dc3545);
}

.multiselect > .multiselect-options > ul > li {
  align-items: baseline;
  background-color: var(--_multiselect-selected-bg-color);
  border-radius: var(--_border-radius);
  cursor: pointer;
  display: flex;
  gap: 0.5rem;
  padding-block: var(--_padding-block);
  padding-inline: var(--_padding-inline);
  transition: background-color var(--transition-duration) linear;
}

.multiselect ul>li[disabled="true"] {
  color: var(--field-color-disabled, #7b7676);
  cursor: not-allowed;
}

.multiselect > .multiselect-options > ul > li input {
  box-shadow: none;
  height: fit-content;
  width: auto;
}

.multiselect > .multiselect-options > ul > li:not(.multiselect-group):hover,
.multiselect > .multiselect-options > ul:not(.single-select) > li.multiselect-group:not(.disabled-group-select):hover {
  --_multiselect-selected-bg-color: var(--_option-background-color-hover);
}

.multiselect > .multiselect-options > ul > li.selected {
  --_multiselect-selected-bg-color: var(--_option-background-color-active);
}

.multiselect > .multiselect-options > ul > li.focused {
  --_multiselect-selected-bg-color: var(--_option-background-color-active)

  opacity: 0.8;
}

.multiselect > .multiselect-options > ul > li.multiselect-group {
  color: #555;
  font-weight: 600;
  margin-top: 0.5rem;
}

.multiselect > .multiselect-options > ul:has(.multiselect-group) > li:not(.select-all-option, .multiselect-group) {
  margin-left: 0.5rem;
}

.multiselect .multiselect-placeholder {
  --_multiselect-placeholder-color: var(--form-input-placeholder-color, #555);

  color: var(--_multiselect-placeholder-color);
}

.multiselect.valid .multiselect-input {
  --_border-color: var(--color-alert-success, #198754);
}

.multiselect span.multiselect-placeholder,
.multiselect .selected-options,
.multiselect .selected-options > .tooltip-trigger,
.multiselect ul > li > span {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.multiselect .selected-options > .tooltip-trigger {
  max-width: 100%;
  width: max-content;
}

.multiselect:has(.disabled) .selected-options > .tooltip-trigger {
  cursor: not-allowed;
}

.multiselect .selected-options-wrapper {
  height: 0;
  min-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: min-height 0.3s ease, height 0.3s ease, opacity 0.3s ease;
}

.multiselect .selected-options-wrapper.visible {
  height: 3rem;
  min-height: 3rem;
  opacity: 1;
  text-align: left;
}

.multiselect .multiselect-input>.action-items {
  display: flex;
  gap: 0.5rem;
  margin-inline: 0.5rem;
  min-width: fit-content;
}

.multiselect .multiselect-input>.action-items > svg {
  color: var(--_icon-color);
  cursor: pointer;
  min-width: 1.25rem;
}
