.multiselect {
  position: relative;
  width: 100%;
}

.multiselect > .multiselect-options {
  background-color: #fff;
  border-top: none;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  margin: 0;
  max-height: 13rem;
  min-width: 12rem;
  padding: 0.75rem 0.65rem;
  position: absolute;
  width: 100%;
  z-index: 1000;
}

.multiselect > .multiselect-options > ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  overflow-y: auto;
  row-gap: 0.3rem;
  width: 100%;
}

.multiselect>.multiselect-input {
  --_bg-color: transparent;
  --_border-color: var(--form-input-border-color, #555);
  --_border-radius: var(--form-input-border-radius, 0.25em);
  --_color: inherit;
  --_padding-h: var(--padding-h, 0.75em);
  --_padding-v: var(--form-input-padding-v, 0.65em);
  --_height: var(--form-input-height, 2.8em);

  align-items: center;
  background-color: var(--_bg-color);
  border: 1px solid var(--_border-color);
  border-radius: var(--_border-radius);
  display: flex;
  color: var(--_color);
  cursor: pointer;
  height: var(--_height);
  justify-content: space-between;
  padding: var(--_padding-v) var(--_padding-h);
  user-select: none;
}

.multiselect .multiselect-input:has(.multiselect-search) {
  --_padding-h: 0;
}

.multiselect .multiselect-input > .multiselect-search > input {
  border-color: transparent;
}

.multiselect .multiselect-input > .multiselect-search > input:focus-within {
  outline: none;
}

.multiselect>.multiselect-input.disabled {
  --_bg-color: var(--form-input-bg-color-disabled, #f7f7f7);
  --_border-color: var(--form-input-border-color-disabled, #ccc);
  --_color: var(--form-input-color-disabled, #555);

  cursor: default;
}

.multiselect>.multiselect-input:focus {
  box-shadow: 0 0 0 0.25rem #32323240;
}

.multiselect.invalid .multiselect-input {
  --_border-color: var(--color-alert-danger, #dc3545);
}

.multiselect > .multiselect-options > ul > li {
  background-color: var(--_multiselect-selected-bg-color);
  border-radius: var(--form-input-border-radius, 0.25em);
  cursor: pointer;
  display: flex;
  gap: 0.5em;
  padding: 0.5rem 0.65rem;
}

.multiselect ul>li[disabled="true"] {
  color: var(--field-option-disabled-color, #7b7676);
  cursor: not-allowed;
}

.multiselect ul > li > span, .multiselect span.multiselect-placeholder {
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.multiselect > .multiselect-options > ul > li input {
  box-shadow: none;
  height: fit-content;
  width: auto;
}

.multiselect > .multiselect-options > ul > li.selected,
.multiselect > .multiselect-options > ul > li:hover {
  --_multiselect-selected-bg-color: var(
    --multiselect-selected-bg-color,
    #e5e5e5
  );
}

.multiselect > .multiselect-options > ul > li.focused {
  --_multiselect-selected-bg-color: var(
    --multiselect-selected-bg-color,
    #e5e5e5
  );

  opacity: 0.8;
}

.multiselect .multiselect-placeholder {
  --_multiselect-placeholder-color: var(--form-input-placeholder-color, #555);

  color: var(--_multiselect-placeholder-color);
}

.multiselect.valid .multiselect-input {
  --_border-color: var(--color-alert-success, #198754);
}

.multiselect .selected-options {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.multiselect .selected-options-wrapper {
  height: 0;
  min-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: min-height 0.3s ease, height 0.3s ease, opacity 0.3s ease;
}

.multiselect .selected-options-wrapper.visible {
  height: 3rem;
  min-height: 3rem;
  opacity: 1;
}

.multiselect .multiselect-input>.action-items {
  display: flex;
  position: absolute;
  right: 0.75rem;
}

.multiselect .multiselect-input>.action-items > svg {
  color: var(--field-icon-color, #b5b5b5);
  cursor: pointer;
  min-width: 1.5rem;
}
