.switch input[type="checkbox"] {
  --_switch-unchecked-bg-color: var(--switch-unchecked-bg-color, #ccc);
  --_width: 4rem;

  appearance: none;
  background-color: var(--_switch-unchecked-bg-color);
  border-radius: 1.25rem;
  cursor: pointer;
  display: flex;
  height: 2rem;
  justify-content: center;
  padding-inline: 0.25rem;
  position: relative;
  width: var(--_width);
}

.switch input[type="checkbox"].labeled {
  --_width: var(--switch-width, 5rem);
}

.switch input:after {
  content: attr(data-off);
  font-weight: 500;
  padding-inline: 0.5rem;
  text-align: end;
}

.switch input:before {
  background-color: #fff;
  border-radius: 50%;
  bottom: 10%;
  content: "";
  height: 1.5rem;
  left: 0.25rem;
  position: absolute;
  transition:
    transform 150ms,
    background-color 150ms;
  width: 1.5rem;
}

.switch input:checked:after {
  content: attr(data-on);
  text-align: start;
}

.switch input:checked:before {
  content: "";
  transform: translate(calc(var(--_width) - 2.1rem));
}

.switch input:checked {
  background-color: var(--dz-primary-color);
}

.switch input:disabled {
  opacity: 0.5;
}
