.field {
  --_background-color: var(--field-bg-color, transparent);
  --_border-color: var(--border-color);
  --_border-radius: var(--border-radius);
  --_padding-block: var(--field-padding-block, 0.5rem);
  --_padding-inline: var(--field-padding-inline, 0.75rem);
}

.field textarea {
  background-color: var(--_background-color);
  border: 1px solid var(--_border-color);
  border-radius: var(--_border-radius);
  padding-block: var(--_padding-block);
  padding-inline: var(--_padding-inline);
  width: 100%;
}

.field textarea:focus-within {
  outline: 1px solid var(--dz-primary-color);
}

.field textarea:disabled {
  --_background-color: var(--field-bg-color-disabled, #f8f8f8);
  
  cursor: not-allowed;
  opacity: 0.8;
  resize: none;
}
