:root {
  --field-bg-color-disabled: #f8f8f8;
  --field-bg-color: transparent;
  --field-icon-color: #7b7676;
  --field-padding-block: 0.5rem;
  --field-padding-inline: 0.75rem;
  --field-placeholder-color: #7b7676;
  --list-item-bg-active: var(--active-bg);
  --list-item-bg-hover: var(--hover-bg);
}
