.table-wrapper {
  display: block;
  max-width: 100%;
  max-height: 60vh;
  overflow-y: scroll;
  position: relative;
}

.table-toggle {
  border: none;
  outline: none;
  background-color: #009879;
  height: 2rem;
  width: 2rem;
  padding: 0;
  position: sticky;
  top: 0;
  z-index: 1;
}

table {
  background-color: #ffffff;
  border-bottom: 0.063rem solid #f5f5f5;
  border-collapse: collapse;
  font-size: 0.875em;
  width: 100%;
  table-layout: fixed;
  position: relative;
}

tr {
  border-bottom: 1px solid #ddd;
}

tbody > tr:nth-child(even) {
  background-color: #f3f3f3;
}

tbody > tr:hover {
  color: #009879;
}

.toggle-wrap {
  display: none;
}

th,
td {
  padding: 12px 15px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

thead {
  background-color: #009879;
  color: #ffffff;
  position: sticky;
  top: 0;
}

th {
  font-size: 1rem;
  font-weight: 600;
  text-align: left;
}

tbody {
  border-bottom: 0.063rem solid #f5f5f5;
}

td {
  align-items: center;
  font-size: 0.9rem;
}

.page-navigation-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.page-number-indicators {
  font-weight: bold;
  margin-right: 8px;
  border-right: 2px solid #000;
  padding-right: 8px;
}

.go-to-page-container {
  margin-right: 4px;
}

.go-to-page-text {
  margin-right: 4px;
}

.page-input {
  width: 3rem;
  height: 25px;
}

.page-navigation-buttons-container {
  display: flex;
  align-items: center;
}

.page-navigation-button {
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  border: 1px solid #808080;
  border-radius: 50%;
  margin-right: 4px;
}

.page-navigation-button:disabled {
  cursor: not-allowed;
  background-color: #e7e7e7;
}

.page-navigation-button:focus {
  outline: none !important;
}

.navigation-button-icon {
  width: 18px;
  height: 18px;
}

@media (max-width: 600px) {
  .toggle-wrap {
    display: block;
  }

  .toggle-icon {
    margin: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    height: 1.5rem;
    width: 1.5rem;
    color: #fff;
  }

  table thead {
    display: none;
  }

  table,
  table thead.expand,
  table tbody,
  table th,
  table tr,
  table td {
    display: block;
    width: 100%;
  }

  table thead.expand {
    position: sticky;
    top: 0;
    z-index: 1;
  }

  thead tr {
    margin-bottom: 1rem;
  }

  thead th {
    border-bottom: 1px solid #fff;
  }

  thead th:last-child {
    border: none;
  }

  tbody tr {
    border: 1px solid #000;
    margin-bottom: 1rem;
  }

  td {
    font-size: 0.8rem;
    text-align: right;
    position: relative;
    border-bottom: 1px solid #000;
  }

  td:last-child {
    border: none;
  }

  td::before {
    content: attr(data-label);
    left: 0;
    width: 50%;
    float: left;
    text-align: left;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.9rem;
  }

  .page-navigation-container {
    flex-direction: column;
  }

  .page-navigation-buttons-container {
    margin-top: 8px;
  }
}
