/* Table variables */

:root {
  --table-border: 1px solid rgb(226, 226, 226);
  --table-header-bg: #f0f2f7ad;
  --table-overlay-bg: rgba(255, 255, 255, 0.6);
  --table-header-active-bg: rgb(232, 240, 255);
  --table-row-hover-bg: #318aff0f;
  --table-column-padding: 0.8rem;
  --table-row-selected-bg: rgb(240, 245, 255);
  --table-body-bg: transparent;
  --table-stripe-color: transparent;
  --table-actions-column-width: 4rem;
}

/* Tanstack table class definitions */

.table-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}

.table-container > span {
  font-weight: bold;
  text-align: center;
  padding: 0.2rem 0;
  margin: 0;
  font-size: 1rem;
}

.table-container > span[data-align="left"] {
  text-align: left;
}

.table-container > span[data-align="right"] {
  text-align: right;
}

.table-container .loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background: var(--table-overlay-bg);
}

.table-container .toolbar {
  align-items: center;
  background: var(--table-header-bg);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: flex-end;
  padding: var(--table-column-padding);
  width: 100%;
}

.table-container .table-wrapper {
  width: 100%;
  overflow-x: auto;
}

.table-container .table-wrapper > table {
  min-width: 100%;
  border-collapse: collapse;
}

.table-container .table-wrapper > table > tbody {
  background: var(--table-body-bg);
}

.table-container .toolbar,
.table-container .table-wrapper > table,
.table-container .table-wrapper > table tr,
.table-container .table-wrapper > table > tbody > tr > td,
.table-container .table-wrapper > table > thead > tr > th,
.table-container .pagination {
  border: var(--table-border);
}

.table-container .pagination {
  border-top: none;
}

.table-container .toolbar {
  border-bottom: none;
}

.table-container .table-wrapper > table > tbody > tr > td,
.table-container .table-wrapper > table > thead > tr > th {
  overflow: hidden;
}

.table-container .table-wrapper > table > tbody > tr > td > .tooltip-container {
  height: 100%;
  width: 100%;
}

.table-container .table-wrapper > table > thead > tr > th.filter.multiselect {
  overflow: visible;
}

.table-container .table-wrapper > table tr > td[data-align="center"] > * {
  margin: auto;
}

.table-container .table-wrapper > table tr > th {
  text-align: left;
}

.table-container .table-wrapper > table tr > td[data-align="center"],
.table-container .table-wrapper > table tr > th[data-align="center"] {
  text-align: center;
}

.table-container .table-wrapper > table tr > td[data-align="center"] > svg,
.table-container .table-wrapper > table tr > th[data-align="center"] > svg {
  display: inline-flex;
}

.table-container .table-wrapper > table tr > td[data-align="right"] {
  text-align: right;
  padding-right: 2rem;
}

.table-container .table-wrapper > table tr > th[data-align="right"] {
  text-align: center;
}

.table-container .table-wrapper > table tr > th.sortable {
  cursor: pointer;
}

.table-container .table-wrapper > table tr > th .sort-state {
  margin-left: 0.5rem;
}

.table-container .table-wrapper > table tr > th .sort-state .sort-icon {
  display: inline-block;
  font-size: 0.9rem;
}

.table-container .table-wrapper > table tr > th.sortable:active {
  background: var(--table-header-active-bg);
}

.table-container .table-wrapper > table tr > th.highlight,
.table-container .table-wrapper > table tr > td.highlight {
  background: var(--table-header-active-bg);
}

.table-container .table-wrapper > table > tbody > tr:nth-child(even) {
  background: var(--table-stripe-color);
}

.table-container .table-wrapper > table > tbody > tr[data-selected="true"] {
  background: var(--table-row-selected-bg) !important;
}

.table-container
  .table-wrapper
  > table
  > tbody
  > tr[data-selected="true"]:hover,
.table-wrapper > table > tbody > tr:hover {
  background: var(--table-row-hover-bg) !important;
  transition: background var(--transition-duration) ease;
}

.table-wrapper > table .header-row {
  background: var(--table-header-bg);
  font-size: 1rem;
}

.table-wrapper > table tr.filters > th > div > input {
  width: 100%;
  min-width: 7rem;
  font-weight: normal;
  background: #ffffff;
}

.table-wrapper > table tr.filters > th.multiselect > div {
  background: #ffffff;
  font-weight: normal;
}

.table-wrapper > table tr.filters > th.multiselect > div .input-field-select {
  margin-top: 0;
}

.table-container .table-wrapper > table > tbody > tr > td,
.table-container .table-wrapper > table > thead > tr > th {
  padding: var(--table-column-padding);
}

.table-container .table-wrapper > table > thead > tr > th.column-actions,
.table-container .table-wrapper > table > thead > tr > th.column-select {
  width: var(--table-actions-column-width);
  max-width: var(--table-actions-column-width);
  min-width: var(--table-actions-column-width);
}

.table-container tbody td.cell-select .checkbox-wrapper:not(:has(label)),
.table-container thead th.column-select .checkbox-wrapper:not(:has(label)) {
  display: block;
}

.table-container .pagination .page-input-control input {
  background: #ffffff;
}
