button {
  border: none;
  outline: none;
  background-color: #009879;
  height: 2rem;
  width: 2rem;
  padding: 0;
}

table {
  background-color: #ffffff;
  border-bottom: 0.063rem solid #f5f5f5;
  border-collapse: collapse;
  font-size: 0.875em;
  width: 100%;
}

tr {
  border-bottom: 1px solid #ddd;
}

tbody > tr:nth-child(even) {
  background-color: #f3f3f3;
}

tbody > tr:hover {
  color: #009879;
}

.toggle-wrap {
  display: none;
}

th,
td {
  padding: 12px 15px;
}

thead {
  background-color: #009879;
  color: #ffffff;
}

th {
  font-size: 1rem;
  font-weight: 600;
  text-align: left;
}

tbody {
  border-bottom: 0.063rem solid #f5f5f5;
}

td {
  align-items: center;
  font-size: 0.9rem;
}

@media(max-width: 600px) {
  .toggle-wrap {
    display: block;
  }

  .toggle-icon {
    margin: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    height: 1.5rem;
    width: 1.5rem;
    color: #fff;
  }

  table thead {
    display: none;
  }

  table, table thead.expand, table tbody, table th, table tr, table td {
    display: block;
    width: 100%;
  }

  table thead.expand {
    position: sticky;
    top: 0;
    z-index: 1;
  }
  
  thead tr {
    margin-bottom: 1rem;
  }

  thead th {
    border-bottom: 1px solid #fff;
  }

  thead th:last-child {
    border: none;
  }

  tbody tr {
    border: 1px solid #000;
    margin-bottom: 1rem;
  }

  td {
    font-size: 0.8rem;
    text-align: right;
    position: relative;
    border-bottom: 1px solid #000;
  }

  td:last-child {
    border: none;
  }

  td::before {
    content: attr(data-label);
    left: 0;
    width: 50%;
    float: left;
    text-align: left;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.9rem;
  }
}
