.layout.basic {
  --layout-basic-padding-h: 1em;

  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  gap: var(--layout-basic-gap);
  grid-template-rows: auto 1fr auto;
  height: 100dvh;
  min-height: 100dvh;
  overflow: hidden;
}

.layout.basic[aria-expanded=true] {
  grid-template-areas:
    "header"
    "main"
    "footer";
}

.layout.basic > :is(footer, header, main) {
  margin: 0 auto;
  max-width: var(--layout-basic-max-width);
  width: 100%;
}

.layout.basic > footer {
  grid-area: footer;
}

.layout.basic > header {
  grid-area: header;
}

.layout.basic[aria-expanded=true] > header > nav nav.locale-switcher {
  --locale-switcher-width: 100%;
}

.layout.basic[aria-expanded=true] > header .locale-switcher .truncated > svg {
  transform: rotate(-180deg);
}

.layout.basic[aria-expanded=true] > header .locale-switcher.expanded .truncated > svg {
  transform: rotate(0);
}

.layout.basic nav.user-menu-dropdown > ul.dropdown,
.layout.basic nav.locale-switcher > ul.dropdown {
  width: 100%;
}

.layout.basic nav.locale-switcher>.locale-trigger {
  --locale-switcher-padding-h: var(--layout-nav-item-padding-h, 1rem);
  --locale-switcher-padding-v: var(--layout-nav-item-padding-v, .625rem);
}

.layout.basic > main {
  max-width: 100%;
  min-width: 100%;
  grid-area: main;
  overflow-y: auto;
}

@media screen and (min-width: 576px) {
  .layout.basic nav.user-menu-dropdown > ul.dropdown,
  .layout.basic nav.locale-switcher > ul.dropdown
  {
    width: max-content;
  }

  .layout.basic[aria-expanded=true] > header > nav nav.locale-switcher {
    --locale-switcher-width: 10rem;
  }

  .layout.basic nav.locale-switcher>.locale-trigger {
    --locale-switcher-padding-h: 1rem;
    --locale-switcher-padding-v: var(--layout-nav-item-padding-v, .625rem);
  }
}
