.layout.basic {
  --_gap: var(--layout-gap, 1rem);
  --_max-width: var(--layout-max-width, 60rem);
  --_padding-h: clamp(1rem, calc(100vw - 900px), max(60px, calc((100vw - var(--_max-width)) / 2)));

  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  gap: var(--_gap);
}

.layout.basic > :is(footer, header, main) {
  margin: 0 0;
  padding-left: var(--_padding-h);
  padding-right: var(--_padding-h);
  width: 100%;
}

.layout.basic > main {
  flex: 1;
}
