.layout.sidebar-header-layout {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "header"
    "main";
  transition: all 0.25s ease-in-out;
}

.layout.sidebar-header-layout:has(.no-sidebar) {
  grid-template-columns: 1fr;
  grid-template-areas:
    "header"
    "main";
}

.layout.sidebar-header-layout > .no-sidebar {
  display: none;
  position: fixed;
  top: 0;
}

.layout.sidebar-header-layout .layout-sidebar > .header {
  --_padding-v: 1rem;

  height: var(--layout-header-height, 5.5rem);
}

.layout.sidebar-header-layout footer {
  --_gap: 0.5rem;
  --_padding-h: var(--sidebar-padding-h, 1rem);
  --_padding-v: var(--sidebar-padding-v, 1.5rem);

  align-items: center;
  display: flex;
  flex-wrap: wrap;
  font-size: 0.875rem;
  gap: var(--_gap);
  justify-content: space-between;
  padding: 0 var(--_padding-h);
  width: 100%;
}

.sidebar-header-layout .copyright a::after {
  content: "";
}

.sidebar-header-layout:has(.extend) .sidebar-menu-wrapper .locales .dropdown {
  right: -7rem;
}

.sidebar-header-layout .sidebar-menu-wrapper .locales {
  border-top: 1px solid var(--layout-border-color, #dee2e6a6);
  width: 100%;
}

.sidebar-header-layout .sidebar-menu-wrapper .locales > .locale-trigger {
  --locale-switcher-padding-v: 1rem;

  height: var(--sidebar-menu-height, 3rem);
}

.sidebar-header-layout .sidebar-menu-wrapper .locales.expanded,
.sidebar-header-layout .sidebar-menu-wrapper .locales:hover {
  --locale-switcher-hover-color: #0870e5;
}

.sidebar-header-layout .sidebar-menu-wrapper .locales .truncated > img {
  transition: transform 0.3s ease;
}

.sidebar-header-layout .sidebar-menu-wrapper .locales.expanded .truncated > img {
  transform: rotate(180deg);
}

.sidebar-header-layout .sidebar-menu-wrapper .locales ul.dropdown {
  --locale-switcher-bg-color: #007aff;
  --locale-switcher-border: none;

  left: 0;
  right: 0;
  top: unset;
  bottom: 100%;
  border-top: 1px solid #0870e5;
}

.sidebar-header-layout .sidebar-menu-wrapper .locales ul.dropdown .badge {
  --locale-switcher-badge-bg-color: #60a7f3;
}

.layout.sidebar-header-layout:has(.extend) {
  grid-template-columns: var(--sidebar-collapsed-width, 6rem) 1fr;
  grid-template-areas:
    "sidebar header"
    "sidebar main";
}

.layout.sidebar-header-layout:has(.extend) > header {
  --header-padding-v: 1rem;
}

.layout.sidebar-header-layout:has(.extend) > header .toggle {
  visibility: hidden;
}

.layout.sidebar-header-layout > .layout-sidebar {
  grid-area: sidebar;
  transition: width 0.3s ease-in-out;
  z-index: 100;
}

.layout.sidebar-header-layout > header {
  --header-padding-h: 1rem;

  background-color: #fff;
  grid-area: header;
  height: var(--layout-header-height, 5.5rem);
  padding-right: var(--header-padding-h);
  position: sticky;
  top: 0;
  z-index: 100;
}

.layout.sidebar-header-layout > header > nav[data-expanded="true"] {
  display: none;
}

.layout.sidebar-header-layout > main {
  grid-area: main;
  transition: all 0.3s ease-in-out;
}

.layout-sidebar {
  transition: width 0.3s ease-in-out;
}

.sidebar-header-layout main {
  padding: var(--layout-default-padding-v, 1.5rem)
    var(--layout-default-padding-h, 1rem);
  z-index: 99;
}

@media screen and (min-width: 1024px) {
  .layout.sidebar-header-layout {
    grid-template-columns: var(--sidebar-width, 16rem) 1fr;
    grid-template-areas:
      "sidebar header"
      "sidebar main";
  }
}

@media screen and (min-width: 576px) {
  .layout.sidebar-header-layout > .no-sidebar {
    display: block;
  }

  .layout.sidebar-header-layout:has(.extend) > header {
    --header-padding-v: 1.1rem;
  }

  .sidebar-header-layout main {
    padding: var(--layout-default-padding-v, 2.5rem)
      var(--layout-default-padding-h, 2rem);
  }
}
