.layout.sidebar-only {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: "main";
  min-height: 100dvh;
  transition: all 0.25s ease-in-out;
}

.layout.sidebar-only footer {
  --_padding-h: var(--sidebar-padding-h, 1rem);
  --_padding-v: var(--sidebar-padding-v, 1.5rem);

  align-items: center;
  display: flex;
  flex-wrap: wrap;
  font-size: 0.875rem;
  justify-content: space-between;
  padding: 0 var(--_padding-h);
  width: 100%;
}

.layout.sidebar-only .copyright a::after {
  content: "";
}

.layout.sidebar-only:has(.extend) .locales .dropdown {
  right: -7rem;
}

.layout.sidebar-only .locales {
  border-top: 1px solid var(--layout-border-color, #dee2e6a6);
  width: 100%;
}

.layout.sidebar-only .sidebar-menu-wrapper .locales > .locale-trigger {
  --locale-switcher-padding-v: 1rem;

  height: var(--sidebar-menu-height, 3rem);
}

.layout.sidebar-only .locales.expanded,
.layout.sidebar-only .locales:hover {
  --locale-switcher-hover-color: #0870e5;
}

.layout.sidebar-only .locales .truncated > img {
  transition: transform 0.3s ease;
}

.layout.sidebar-only .locales.expanded .truncated > img {
  transform: rotate(180deg);
}

.layout.sidebar-only .locales ul.dropdown {
  --locale-switcher-bg-color: #007aff;
  --locale-switcher-border: none;

  left: 0;
  right: 0;
  top: unset;
  bottom: 100%;
  border-top: 1px solid #0870e5;
}

.layout.sidebar-only .locales ul.dropdown .badge {
  --locale-switcher-badge-bg-color: #60a7f3;
}

.layout.sidebar-only:has(.extend) {
  grid-template-areas: "sidebar main";
  grid-template-columns: var(--sidebar-collapsed-width, 6rem) 1fr;
}

.layout.sidebar-only:has(.no-sidebar) {
  grid-template-areas: "main";
  grid-template-columns: 1fr;
}

.layout.sidebar-only > .no-sidebar {
  position: fixed;
  top: 0;
}

.layout.sidebar-only > .layout-sidebar {
  grid-area: sidebar;
  transition: width 0.3s ease-in-out;
  z-index: 100;
}

.layout.sidebar-only > main {
  grid-area: main;
  transition: all 0.3s ease-in-out;
}

.layout-sidebar {
  transition: width 0.3s ease-in-out;
}

main {
  padding: var(--layout-default-padding-v, 2.5rem)
    var(--layout-default-padding-h, 2rem);
  z-index: 99;
}

@media screen and (min-width: 1024px) {
  .layout.sidebar-only {
    grid-template-columns: var(--sidebar-width, 16rem) 1fr;
    grid-template-areas: "sidebar main";
  }
}
