.demo .section-content > .country-display > .custom-render {
  background-color: #eef2ff;
  border: 1px solid var(--border-color);
  border-radius: 1rem;
  display: inline-flex;
  gap: 0.5rem;
  padding: 0.25rem 1rem;
  width: 8rem;
}
