.auth {
  --_auth-page-gap: var(--auth-page-gap, 2rem);

  align-items: center;
  display: flex;
  flex-direction: column;
  gap: var(--_auth-page-gap);
  margin: 0 auto;
  width: var(--auth-page-width, 100%);
}

.auth .links {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.auth .links a {
  color: var(--dz-primary-color);
  text-decoration: none;
}

.auth .links a:hover {
  text-decoration: underline;
}

.auth .social-login-wrapper > button {
  margin: 0.5rem 0;
  width: 100%;
}

.auth > .page-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.auth.page:not(.password-reset-acknowledge) > .page-content {
  max-width: 430px;
}

.auth.verify-email, .auth.verify-email-reminder {
  max-width: var(--user-auth-max-width, 30rem);
}

.auth > main {
  --layout-default-padding-v: 1rem;
  --layout-default-padding-v: 0.5rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}
