.auth {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: var(--auth-page-gap, 0.5em);
  margin: 0 auto;
  width: var(--auth-page-width, 100%);
}

.auth .links {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.auth .links a {
  color: var(--auth-page-link-color, #1c4786);
  text-decoration: none;
}

.auth .links a:only-child {
  margin-left: auto;
  margin-right: auto;
}

.auth.password-reset-acknowledge .redirect {
  font-size: 80%;
  font-style: italic;
}

.auth.password-reset-acknowledge .email {
  font-weight: bold;
}

.auth.password-reset-acknowledge .seconds {
  font-size: 150%;
  font-style: normal;
  font-weight: bold;
}

.auth .social-login-wrapper > button {
  margin: 0.5rem 0;
  width: 100%;
}

.auth > .page-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 430px;
  width: 100%;
}

.auth.verify-email, .auth.verify-email-reminder {
  max-width: var(--user-auth-max-width, 30rem);
}

.auth > main {
  --layout-default-padding-v: 1rem;
  --layout-default-padding-v: 0.5rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}
