.table-invitations .column-email {
  min-width: 15rem;
}

.table-invitations .column-appId {
  max-width: 10rem;
  min-width: 10rem;
  width: 10rem;
}

.table-invitations .column-role {
  max-width: 10rem;
  min-width: 10rem;
  width: 10rem;
}

.table-invitations .column-invitedBy {
  max-width: 15rem;
  min-width: 15rem;
  width: 15rem;
}

.table-invitations .column-expiresAt {
  max-width: 12rem;
  min-width: 12rem;
  width: 12rem;
}

.table-invitations .column-status {
  max-width: 10rem;
  min-width: 10rem;
  width: 10rem;
}
