.demo-badge .container[data-v-bd5f58a3]{display:flex;align-items:center;gap:1rem;flex-wrap:wrap}.demo-badge section[data-v-bd5f58a3]{margin-bottom:2.5em}.demo-badge .section-content[data-v-bd5f58a3]{display:grid;gap:1.5rem}
