.demo-badge .container[data-v-43225db4]{display:flex;align-items:center;gap:1rem;flex-wrap:wrap}.demo-badge section[data-v-43225db4]{margin-bottom:2.5em}.demo-badge .section-content[data-v-43225db4]{display:grid;gap:1.5rem}
