.accordion {
  --_background-color: var(--background-color);
  --_border-color: var(--border-color);
  --_border-radius: var(--border-radius);
  --_gap: 0.5rem;
  --_header-font-size: var(--font-size);
  --_padding: var(--font-size);
  --_icon-height: calc(1.5 * var(--font-size));

  border: 1px solid var(--_border-color);
  border-radius: var(--_border-radius);
  display: flex;
  flex-direction: column;
  padding: 0;
}

.accordion > section {
  display: flex;
  flex-basis: calc((2 * var(--_padding)) + var(--_icon-height));
  flex-direction: column;
  gap: 0;
  overflow: hidden;
  transition: flex-basis 500ms;
}

.accordion > section.active {
  flex-basis: auto;
}

.accordion > section:not(:last-of-type) {
  border: none;
  border-bottom: 1px solid var(--_border-color);
}

.accordion > section > header {
  background-color: var(--_background-color);
  margin: 0;
  padding: 0;
}

.accordion > section > header:not(:last-of-type),
.accordion > section.active > header {
  border: none;
  border-bottom: 1px solid var(--_border-color);
}

.accordion > section > header > button {
  align-items: center;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  gap: var(--_gap);
  padding: var(--_padding);
  text-align: left;
  width: 100%;
}

.accordion > section > header > button:focus {
  box-shadow: none;
}

.accordion header img.icon {
  aspect-ratio: 1 / 1;
  height: var(--_icon-height);
}

.accordion > section > header > button > span {
  text-align: left;
}

.accordion > section > .pane {
  max-height: 0;
  padding: var(--_padding);
}

.accordion > section.active > .pane {
  max-height: none;
}

.accordion.horizontal {
  align-items: stretch;
  flex-direction: row;
}

.accordion.horizontal > section {
  flex-direction: row;
}

.accordion.horizontal > section:not(:last-of-type) {
  border: none;
  border-right: 1px solid var(--_border-color);
}

.accordion.horizontal > section.active {
  flex-basis: fit-content;
}

.accordion.horizontal > section.active > header {
  background-image: url("@/assets/svg/chevron-left.svg");
}

.accordion.horizontal > section > header:not(:last-of-type),
.accordion.horizontal > section.active > header {
  border: none;
  border-right: 1px solid var(--_border-color);
}

.accordion.horizontal > section > header > button {
  flex-direction: column;
  height: 100%;
}

.accordion.horizontal > section > header > button > span {
  text-orientation: sideways;
  transform: rotate(180deg);
  white-space: nowrap;
  writing-mode: vertical-lr;
}

.accordion.horizontal > section.active > header > button > .toggle {
  background-image: url("@/assets/svg/chevron-left.svg");
}

.accordion.show-toggle-icon > section > header > button {
  background-image: url("@/assets/svg/chevron-down.svg");
  background-position: calc(100% - var(--_gap)) center;
  background-repeat: no-repeat;
  background-size: var(--_icon-height);
  padding-right: calc(var(--_padding) + var(--_icon-height) + var(--_gap));
  padding-top: var(--_padding); 
}

.accordion.show-toggle-icon > section.active > header > button {
  background-image: url("@/assets/svg/chevron-up.svg");
}

.accordion.horizontal.show-toggle-icon > section > header > button {
  background-image: url("@/assets/svg/chevron-right.svg");
  background-position: center var(--_gap);
  padding-right: var(--_padding); 
  padding-top: calc(var(--_padding) + var(--_icon-height) + var(--_gap));
}

.accordion.horizontal.show-toggle-icon > section.active > header > button {
  background-image: url("@/assets/svg/chevron-left.svg");
}