.accordion {
  border: 1px solid var(--accordion-border-color, #dee2e6);
  border-radius: var(--accordion-border-radius, 0.25em);
  display: flex;
  flex-direction: column;
  padding: 0;
}

.accordion > section {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.accordion > section:not(:last-of-type) {
  border: none;
  border-bottom: 1px solid var(--accordion-border-color, #dee2e6);
}

.accordion > section > header {
  background-image: url("@/assets/svg/chevron-down.svg");
  background-position: center right;
  background-repeat: no-repeat;
  background-size: var(--accordion-icon-width, 1.5rem);
  margin: 0;
  margin-right: var(--accordion-padding, 1rem);
  padding: var(--accordion-padding, 1rem);
}

.accordion > section.active > header {
  background-image: url("@/assets/svg/chevron-up.svg");
}

.accordion > section > header:not(:last-of-type),
.accordion > section.active > header {
  border: none;
  border-bottom: 1px solid var(--accordion-border-color, #dee2e6);
}

.accordion > section > header > button {
  border: none;
  cursor: pointer;
  padding: 0;
  text-align: left;
  width: 100%;
}

.accordion > section > header > button:focus {
  box-shadow: none;
}

.accordion > section > header > button > span {
  text-align: left;
}

.accordion > section > .pane {
  display: none;
  padding: var(--accordion-padding, 1rem);
}

.accordion > section.active > .pane {
  display: block;
}

.accordion.horizontal {
  align-items: stretch;
  flex-direction: row;
}

.accordion.horizontal > section {
  flex-direction: row;
}

.accordion.horizontal > section:not(:last-of-type) {
  border: none;
  border-right: 1px solid var(--accordion-border-color, #dee2e6);
}

.accordion.horizontal > section > header {
  background-image: url("@/assets/svg/chevron-right.svg");
  background-position: center top;
  margin: 0;
  margin-top: var(--accordion-padding, 1rem);
  padding: var(--accordion-padding, 1rem);
  padding-top: calc(3 * var(--accordion-padding, 1rem));
}

.accordion.horizontal > section.active > header {
  background-image: url("@/assets/svg/chevron-left.svg");
}

.accordion.horizontal > section > header:not(:last-of-type),
.accordion.horizontal > section.active > header {
  border: none;
  border-right: 1px solid var(--accordion-border-color, #dee2e6);
}

.accordion.horizontal > section > header > button > span {
  text-orientation: sideways;
  white-space: nowrap;
  width: 1.5rem;
  writing-mode: vertical-lr;
}

.accordion.horizontal > section.active > header > button > .toggle {
  background-image: url("@/assets/svg/chevron-left.svg");
}
