.accordion {
  --_background-color: var(--background-color);
  --_border-color: var(--border-color);
  --_border-radius: var(--border-radius);
  --_gap: 0.5rem;
  --_header-font-size: 1rem;
  --_header-height: calc((2 * var(--_padding)) + var(--_icon-height));
  --_padding: 1rem;
  --_icon-height: calc(1.5 * 1rem);

  border: 1px solid var(--_border-color);
  border-radius: var(--_border-radius);
  display: flex;
  flex-direction: column;
  padding: 0;
}

.accordion > section {
  display: flex;
  flex-direction: column;
  gap: 0;
  min-height: 100%;
  overflow: hidden;
}

.accordion > section:not(:last-of-type) {
  border: none;
  border-bottom: 1px solid var(--_border-color);
}

.accordion > section > header {
  background-color: var(--_background-color);
  margin: 0;
  padding: 0;
}

.accordion.vertical > section > header:not(:last-of-type),
.accordion.vertical > section[data-expanded="true"] > header {
  border: none;
  border-bottom: 1px solid var(--_border-color);
}

.accordion > section > header > button {
  align-items: center;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  gap: var(--_gap);
  min-height: var(--_header-height);
  padding: var(--_padding);
  text-align: left;
  width: 100%;
}

.accordion > section > header > button:focus {
  box-shadow: none;
}

.accordion header img.icon {
  aspect-ratio: 1 / 1;
  height: var(--_icon-height);
}

.accordion > section > header > button > span {
  flex-grow: 1;
  text-align: left;
}

.accordion > section > .pane {
  padding: var(--_padding);
}

.accordion.horizontal {
  align-items: stretch;
  flex-direction: row;
}

.accordion.horizontal > section {
  flex-direction: row;
  min-width: var(--_header-height);
}

.accordion.horizontal > section:not(:last-of-type) {
  border-right: 1px solid var(--_border-color);
}

.accordion.horizontal > section > header {
  min-width: var(--_header-height);
}

.accordion.horizontal > section > header:not(:last-of-type),
.accordion.horizontal > section[data-expanded="true"] > header {
  border: none;
  border-right: 1px solid var(--_border-color);
}

.accordion.horizontal > section > header > button {
  flex-direction: column;
  height: 100%;
}

.accordion.horizontal > section > header > button > span {
  text-orientation: sideways;
  transform: rotate(180deg);
  white-space: nowrap;
  writing-mode: vertical-lr;
}

.accordion p {
  padding-bottom: 0.5rem;
}

.accordion.separate {
  border: none;
  gap: var(--_gap);
}

.accordion.separate > section {
  border: 1px solid var(--_border-color);
  border-radius: var(--_border-radius);
}

.accordion.vertical .expand-enter-active,
.accordion.vertical .expand-leave-active {
  transition: max-height var(--transition-duration, 150ms) ease;
}

.accordion.vertical .expand-enter-from, .accordion.vertical .expand-leave-to {
  max-height: 0;
}

.accordion.vertical .expand-enter-to, .accordion.vertical .expand-leave-from {
  max-height: 1000px;
}

.accordion.horizontal .expand-enter-active,
.accordion.horizontal .expand-leave-active {
  transition: max-width var(--transition-duration, 150ms) ease, opacity var(--transition-duration, 150ms) ease;
}

.accordion.horizontal .expand-enter-from, .accordion.horizontal .expand-leave-to {
  max-width: 0;
  opacity: 0;
  overflow: hidden;
}

.accordion.horizontal .expand-enter-to, .accordion.horizontal .expand-leave-from {
  max-width: 100dvh;
  opacity: 1;
  overflow-y: auto;
}

.accordion.horizontal .pane{
  height: 30rem;
  overflow-y: auto;
}
