:root {
	--badge-color: var(--dz-primary-color);
	--badge-alternate-color: var(--dz--alternate-color);
	--badge-danger-color: var(--dz-danger-color);
	--badge-primary-color: var(--dz-primary-color);
	--badge-secondary-color: var(--dz-secondary-color);
	--badge-success-color: var(--dz-success-color);
	--badge-warning-color: var(--dz-warning-color);
  }
  
  .badge {
	--_badge-color: var(--badge-color);
  
	align-items: center;
	background-color: var(--_badge-color);
	border-radius: 5px;
	color: white;
	display: inline-flex;
	font-size: 0.875rem;
	font-weight: 700;
	gap: 0.25rem;
	justify-content: center;
	padding: 0.25rem 0.5rem;
	width: max-content;
  }
  
  .badge.alternate {
	--badge-color: var(--badge-alternate-color);
  }
  
  .badge.danger {
	--badge-color: var(--badge-danger-color);
  }
  
  .badge.full-width {
	width: 100%;
  }
  
  .badge.primary {
	--badge-color: var(--badge-primary-color);
  }
  
  .badge.rounded {
	border-radius: 25px;
	padding: 0.25rem 0.6rem;
  }
  
  .badge.secondary {
	--badge-color: var(--badge-secondary-color);
  }
  
  .badge.success {
	--badge-color: var(--badge-success-color);
  }
  
  .badge.warning {
	--badge-color: var(--badge-warning-color);
  }