:root {
  --button-alternate-color: var(--dz-alternate-color);
  --button-alternate-outlined-hover-color: #f1f9fc;
  --button-danger-color: var(--dz-danger-color);
  --button-danger-outlined-hover-color: #fef1f1;
  --button-font-size: 1rem;
  --button-font-width: 700;
  --button-large-font-size: 1.125rem;
  --button-large-icon-size: 1.125rem;
  --button-large-padding: 0.9375rem 1.5625rem;
  --button-large-width: 3.313rem;
  --button-medium-font-size: 1rem;
  --button-medium-icon-size: 1rem;
  --button-medium-padding: 0.75rem 1.25rem;
  --button-medium-width: 2.75rem;
  --button-primary-color: var(--dz-primary-color);
  --button-primary-outlined-hover-color: #eef6fe;
  --button-secondary-color: var(--dz-secondary-color);
  --button-secondary-outlined-hover-color: #f3f4f5;
  --button-small-font-size: 0.875rem;
  --button-small-icon-size: 0.875rem;
  --button-small-padding: 0.65625rem 1.09375rem;
  --button-small-width: 2.438rem;
  --button-success-color: var(--dz-success-color);
  --button-success-outlined-hover-color: #f0fcf6;
  --button-text-color: #ffffff;
  --button-transition-duration: var(--transition-duration);
  --button-warning-color: var(--dz-warning-color);
  --button-warning-outlined-hover-color: #fef7f5;
}

.button {
  --_button-color: var(--button-color);
  --_button-font-size: var(--button-font-size);
  --_button-font-width: var(--button-font-width);
  --_button-icon-size: var(--button-icon-size);
  --_button-outlined-hover-color: var(--button-outlined-hover-color);
  --_button-padding: var(--button-padding);
  --_button-text-color: var(--button-text-color);

  align-items: center;
  background-color: var(--_button-color);
  border-radius: 0.5rem;
  border: none;
  color: var(--_button-text-color);
  cursor: pointer;
  display: flex;
  font-size: var(--_button-font-size);
  font-weight: var(--_button-font-width);
  gap: 0.5rem;
  justify-content: center;
  padding: var(--_button-padding);
  text-align: center;
  transition: all var(--button-transition-duration) ease;
  user-select: none;
  vertical-align: bottom;
}

.button:disabled {
  cursor: default;
  opacity: 0.5;
}

.button.alternate {
  --button-color: var(--button-alternate-color);
  --button-outlined-hover-color: var(--button-alternate-outlined-hover-color);
}

.button.danger {
  --button-color: var(--button-danger-color);
  --button-outlined-hover-color: var(--button-danger-outlined-hover-color);
}

.button.icon-only {
  height: var(--_button-width);
  width: var(--_button-width);
}

.button.icon-only.rounded {
  border-radius: 50%;
  padding: 1.25rem;
}

.button.rounded {
  border-radius: 2rem;
}

.button.filled {
  --_button-text-color: var(--button-text-color);
  border: 1px solid var(--_button-color);
}

.button.filled:hover {
  filter: brightness(0.8);
}

.button.filled:active {
  filter: brightness(1);
}

.button.filled:disabled:hover {
  filter: none;
}

.button.large {
  --_button-width: var(--button-large-width);
  --_button-font-size: var(--button-large-font-size);
  --button-icon-size: var(--button-large-icon-size);
  --button-padding: var(--button-large-padding);
}

.button.loading .label,
.button.loading .icon-left,
.button.loading .icon-right {
  visibility: hidden;
}

.button.medium {
  --_button-width: var(--button-medium-width);
  --_button-font-size: var(--button-medium-font-size);
  --button-icon-size: var(--button-medium-icon-size);
  --button-padding: var(--button-medium-padding);
}

.button.outlined {
  --_button-text-color: var(--_button-color);
  background: transparent;
  border: 1px solid var(--_button-color);
}

.button.outlined:hover {
  background: var(--_button-outlined-hover-color);
}

.button.outlined:active {
  filter: brightness(1.05);
}

.button.outlined:disabled:hover {
  background: none;
  filter: none;
}

.button.primary {
  --button-color: var(--button-primary-color);
  --button-outlined-hover-color: var(--button-primary-outlined-hover-color);
}

.button.secondary {
  --button-color: var(--button-secondary-color);
  --button-outlined-hover-color: var(--button-secondary-outlined-hover-color);
}

.button.small {
  --_button-width: var(--button-small-width);
  --_button-font-size: var(--button-small-font-size);
  --button-icon-size: var(--button-small-icon-size);
  --button-padding: var(--button-small-padding);
}

.button.success {
  --button-color: var(--button-success-color);
  --button-outlined-hover-color: var(--button-success-outlined-hover-color);
}

.button.textOnly {
  --_button-text-color: var(--_button-color);
  background: transparent;
  border: 1px solid transparent;
}

.button.textOnly:hover {
  background: var(--_button-outlined-hover-color);
}

.button.textOnly:active {
  filter: brightness(1.05);
}

.button.textOnly:disabled:hover {
  background: none;
  filter: none;
}

.button.warning {
  --button-color: var(--button-warning-color);
  --button-outlined-hover-color: var(--button-warning-outlined-hover-color);
}

.button > span > i {
  font-size: var(--_button-icon-size);
}

.button > span.label {
  font-size: var(--_button-font-size);
}
