.button {
  --_button-border-radius: var(--button-border-radius);
  --_button-color: var(--button-color, #0284c7);
  --_button-font-size: 1rem;
  --_button-padding: var(--button-padding, 1rem);
  --_button-width: var(--button-width);

  align-items: center;
  background-color: var(--_button-color);
  border-radius: var(--_button-border-radius);
  border: none;
  color: #ffffff;
  cursor: pointer;
  display: flex;
  font-size: var(--_button-font-size);
  font-weight: 500;
  gap: 0.5rem;
  justify-content: center;
  padding: var(--_button-padding);
  position: relative;
  text-align: center;
  transition: all var(--button-transition-duration) ease;
  user-select: none;
  vertical-align: bottom;
}

.button:focus {
  outline: 2px solid var(--_button-color);
  outline-offset: 2px;
}

.button.disabled {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.6;
}

.button.alternate {
  --_button-color: var(--button-alternate-color);
}

.button.danger {
  --_button-color: var(--button-danger-color);
}

.button.icon-only {
  height: 2.625rem;
  padding: 0;
  width: 2.625rem;
}

.button.icon-only.small {
  height: 2rem;
  width: 2rem;
}

.button.icon-only.large {
  height: 3.5rem;
  width: 3.5rem;
}

.button.icon-only.rounded {
  border-radius: 50%;
}

.button.rounded {
  border-radius: 2rem;
}

.button.filled {
  border: 1px solid var(--_button-color);
}

.button.filled:hover:not(:disabled) {
  background-color: color-mix(in srgb, var(--_button-color) 75%, black);
}

.button.filled:focus:not(:disabled) {
  background-color: color-mix(in srgb, var(--_button-color) 75%, black);
}

.button.filled:active:not(:disabled) {
  background-color: color-mix(in srgb, var(--_button-color) 50%, black);
}

.button.large {
  --_button-font-size: 1.25rem;
  --_button-padding: var(--button-large-padding);
}

.button.loading .label,
.button.loading .icon-left,
.button.loading .icon-right {
  visibility: hidden;
}

.button.medium {
  --_button-font-size: 1rem;
  --_button-padding: var(--button-medium-padding);
}

.button.outlined {
  background-color: transparent;
  border: 1px solid var(--_button-color);
  color: var(--_button-color);
}

.button.outlined:hover:not(:disabled) {
  background-color: color-mix(in srgb, var(--_button-color) 10%, white);
}

.button.outlined:focus:not(:disabled) {
  background-color: color-mix(in srgb, var(--_button-color) 10%, white);
}

.button.outlined:active:not(:disabled) {
  background-color: color-mix(in srgb, var(--_button-color) 20%, white);
}

.button.primary {
  --_button-color: var(--button-primary-color);
}

.button.secondary {
  --_button-color: var(--button-secondary-color);
}

.button.small {
  --_button-font-size: 0.875rem;
  --_button-padding: var(--button-small-padding);
}

.button.success {
  --_button-color: var(--button-success-color);
}

.button.text-only {
  background-color: transparent;
  border: 1px solid transparent;
  color: var(--_button-color);
  font-weight: normal;
}

.button.text-only:active:not(:disabled) {
  background-color: color-mix(in srgb, var(--_button-color) 20%, white);
  border: 1px solid color-mix(in srgb, var(--_button-color) 20%, white);
}

.button.text-only:hover:not(:disabled) {
  background-color: color-mix(in srgb, var(--_button-color) 10%, white);
  border: 1px solid color-mix(in srgb, var(--_button-color) 10%, white);
}

.button.text-only:focus:not(:disabled) {
  background-color: color-mix(in srgb, var(--_button-color) 10%, white);
  border: 1px solid color-mix(in srgb, var(--_button-color) 10%, white);
}

.button.text-only.disabled:hover {
  background: none;
  filter: none;
}

.button.warning {
  --_button-color: var(--button-warning-color);
}

.button > span > i {
  font-size: var(--_button-icon-size);
}
