:root {
  --card-border-color: #ddd;
  --card-border-radius: 0.5rem;
  --card-box-shadow-color: rgba(0, 0, 0, 0.1);
  --card-footer-bg-color: #fff;
  --card-header-bg-color: #fff;
  --card-footer-font-size: 1rem;
  --card-footer-text-color: #000;
  --card-header-margin-top: 0.25rem;
  --card-padding: 0.625rem;
}

.card {
  --_border-color: var(--card-border-color, #ddd);
  --_border-radius: var(--card-border-radius, 0.5rem);
  --_box-shadow-color: var(--card-box-shadow-color, rgba(0, 0, 0, 0.1));

  border: 1px solid var(--_border-color);
  border-radius: var(--_border-radius);
  box-shadow: 0 2px 8px var(--_box-shadow-color);
  overflow: hidden;
}

.card-footer {
  --_bg-color: var(--card-footer-bg-color, #fff);
  --_font-size: var(--card-footer-font-size, 1rem);
  --_padding: var(--card-padding, 0.625rem);
  --_text-color: var(--card-text-color, #000);

  background-color: var(--_bg-color);
  color: var(--_text-color);
  font-size: var(--_font-size);
  padding: var(--_padding);
}

.card-header {
  --_bg-color: var(--card-header-bg-color, #fff);
  --_margin-top: var(--card-header-margin-top, 0.25rem);
  --_padding: var(--card-padding, 0.625rem);

  background-color: var(--_bg-color);
  font-weight: 600;
  margin-top: var(--_margin-top);
  padding: var(--_padding);
}

.card-body {
  --_padding: var(--card-padding, 0.625rem);

  padding: var(--_padding);
}
