.modal.divided-modal .modal-body,
.modal.divided-modal .modal-header {
  border-bottom: 1px solid var(--border-color);
}

.modal {
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  transition: opacity 0.3s ease;
  width: 100%;
  z-index: 1;
}

.modal .modal-body {
  padding: 1em;
}

.modal .modal-container {
  --_border-radius: var(--modal-border-radius, 0.3rem);

  background-color: #fff;
  border-radius: var(--_border-radius);
  box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.33);
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  overflow-x: hidden;
  transition: all 0.3s ease;
  width: max-content;
  max-height: 80vh;
  min-width: 23em;
}

.modal .modal-footer {
  display: flex;
  gap: 1em;
  margin-left: auto;
  padding: 1em;
}

.modal .modal-header.disabled-header {
  padding-bottom: 0.1rem;
}

.modal .modal-header {
  --_background-color: var(--bg-color, #ffffff);
  --_text-color: var(--modal-text-color, #000000);

  align-items: center;
  background-color: var(--_background-color);
  color: var(--_text-color);
  display: flex;
  font-size: 1.5em;
  font-weight: 700;
  gap: 1em;
  justify-content: space-between;
  padding: 0.5em;
}

.modal .modal-header svg {
  --_icon-color: var(--icon-color, #000000);

  color: var(--_icon-color);
  cursor: pointer;
  margin-left: auto;
}

.modal .modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}
