:root {
  --dz-dialog-background-color: rgba(255, 255, 255, 1);
  --dz-dialog-overlay-color: rgba(0, 0, 0, 0.3);
}

.dialog {
  background-color: var(--dz-dialog-background-color);
  border-radius: 0.3rem;
  border: none;
  box-shadow: 0 1px 3px var(--dz-dialog-overlay-color);
  flex-direction: column;
  gap: 1rem;
  margin: auto;
  padding: 0;
}

.dialog[open] {
  animation: open var(--transition-duration) forwards;
  display: flex;
}

.dialog::backdrop {
  background: var(--dz-dialog-overlay-color);
}

.dialog > .dialog-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 1.5rem 1.5rem;
}

.dialog > .dialog-container > .dialog-header {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
}

.dialog > .dialog-container > .dialog-header > .title {
  align-items: center;
  display: flex;
  flex-grow: 1;
  font-size: 1.2rem;
  font-weight: bold;
}

.dialog > .dialog-container > .dialog-header > .button i {
  padding: 0.65rem !important;
}

.dialog > .dialog-container > .dialog-header > .button:focus {
  outline: none;
}

.dialog > .dialog-container > .dialog-content {
  align-items: center;
  display: flex;
  gap: 1rem;
  padding: 1rem 0;
}

.dialog > .dialog-container > .dialog-content > i {
  font-size: 2rem;
}

.dialog > .dialog-container > .dialog-footer {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

@keyframes open {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
