.data {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.data.direction-horizontal > .label {
  --_width: var(--data-horizontal-label-width, 8rem);

  overflow-x: hidden;
  text-overflow: ellipsis;
  width: var(--_width);
}

.data.data-stat {
  --_min-width: var(--data-stat-min-width, 13rem);
  --_padding-v: var(--data-stat-padding-v, 0.5rem);
  --_padding-h: var(--data-stat-padding-h, 0.75rem);

  background-color: transparent;
  border: 1px solid #555;
  border-radius: 0.5rem;
  min-width: var(--_min-width);
  padding-block: var(--_padding-v);
  padding-inline: var(--_padding-h);
  width: max-content;
}

.data.data-stat .value {
  display: flex;
  font-size: 2rem;
  justify-content: flex-end;
}

.data > .label {
  --_caption-color: var(--data-caption-color, #333333);

  color: var(--_caption-color);
  font-size: 0.875rem;
}

@media screen and (min-width: 576px) {
  .data.direction-horizontal {
    align-items: center;
    flex-direction: row;
    gap: 1rem;
  }
}
