.dropdown-menu {
  --_width: var(--dropdown-menu-width, 100%);

  width: var(--_width);
}

.dropdown-menu-trigger {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0.65rem;
  transition: all var(--transition-duration) ease 0s;
}

.dropdown-menu .dropdown-menu-trigger > span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dropdown-menu-trigger .dropdown-icon {
  display: inline-block;
  transition: transform 0.3s ease;
  transform-origin: center;
  margin-left: 0.5rem;
  min-width: fit-content;
}

.popup-content:has(.dropdown-menu) {
  padding: 0;
}

.popup-trigger[aria-expanded="true"]
  .dropdown-menu-trigger
  .dropdown-icon {
  transform: rotate(180deg);
}

.popup-trigger[aria-expanded="true"] .dropdown-menu-trigger {
  background-color: var(--highlight-color, #eff6ff);
  border-radius: 5px;
}

ul.dropdown-menu {
  background-color: var(--dropdown-bg-color, #fff);
  border-radius: var(--dropdown-border-radius, inherit);
  list-style: none;
  min-width: 160px;
  overflow: hidden;
  padding-inline-start: 0;
  width: max-content;
}

ul.dropdown-menu li {
  --_color: var(--color);

  color: var(--_color);
  background-color: white;
  cursor: pointer;
  padding: 0.7rem 1.25rem;
  transition: all var(--transition-duration) ease 0s;
}

ul.dropdown-menu li.alternate {
  --_color: var(--dz-alternate-color, #0284c7);
}

ul.dropdown-menu li.danger {
  --_color: var(--dz-danger-color, #dc3545);
}

ul.dropdown-menu li.primary {
  --_color: var(--dz-primary-color, #007aff);
}

ul.dropdown-menu li.secondary {
  --_color: var(--dz-secondary-color, #475569);
}

ul.dropdown-menu li.success {
  --_color: var(--dz-success-color, #22c55e);
}

ul.dropdown-menu li.warning {
  --_color: var(--dz-warning-color, #ea580c);
}

ul.dropdown-menu li[aria-disabled="true"] {
  opacity: 0.6;
  cursor: default !important;
  user-select: none;
  pointer-events: none;
}

ul.dropdown-menu li:hover {
  background-color: var(--hover-color, #eff6ff);
}

ul.dropdown-menu li .menu-item > i {
  margin-right: 0.5rem;
}

@media screen and (min-width: 576px) {
  .dropdown-menu-trigger:hover {
    background-color: var(--hover-color, #eff6ff);
    border-radius: 5px;
  }
}
