.message {
  background-color: color-mix(in srgb, var(--_background-color) 10%, #fff);
  border-radius: 0.5rem;
  border: 1px solid var(--_color);
  color: var(--_color);
  display: flex;
  font-weight: 500;
  gap: 1rem;
  padding: 0.5rem 1rem;
}

.message > .icon.default {
  background-color: var(--_background-color);
  height: 24px;
  mask-image: var(--_svg);
  mask-repeat: no-repeat;
  mask-size: 100% 100%;
  width: 24px;
}

.message > .message-content {
  flex: 1;
}

.message > .message-content > ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  list-style: disc;
  margin-inline: 1rem;
}

.message.danger {
  --_background-color: var(--message-danger-color);
  --_color: var(--message-danger-color);
}

.message.danger > .icon.default {
  --_background-color: var(--message-danger-color);
  --_svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M20 18.75H4a.76.76 0 0 1-.65-.37a.77.77 0 0 1 0-.75l8-14a.78.78 0 0 1 1.3 0l8 14a.77.77 0 0 1 0 .75a.76.76 0 0 1-.65.37m-14.71-1.5h13.42L12 5.51Z'/%3E%3Cpath fill='%23000' d='M12 13.25a.76.76 0 0 1-.75-.75V9a.75.75 0 0 1 1.5 0v3.5a.76.76 0 0 1-.75.75m0 3a.76.76 0 0 1-.75-.75V15a.75.75 0 0 1 1.5 0v.5a.76.76 0 0 1-.75.75'/%3E%3C/svg%3E");
}

.message.info {
  --_background-color: var(--message-info-color);
  --_color: var(--message-info-color);
}

.message.info > .icon.default {
  --_background-color: var(--message-info-color);
  --_svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M12 16.75a.76.76 0 0 1-.75-.75v-5a.75.75 0 0 1 1.5 0v5a.76.76 0 0 1-.75.75m0-7.5a.76.76 0 0 1-.75-.75V8a.75.75 0 0 1 1.5 0v.5a.76.76 0 0 1-.75.75'/%3E%3Cpath fill='%23000' d='M12 21a9 9 0 1 1 9-9a9 9 0 0 1-9 9m0-16.5a7.5 7.5 0 1 0 7.5 7.5A7.5 7.5 0 0 0 12 4.5'/%3E%3C/svg%3E");
}

.message.success {
  --_background-color: var(--message-success-color);
  --_color: var(--message-success-color);
}

.message.success > .icon.default {
  --_background-color: var(--message-success-color);
  --_svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M10.5 15.25A.74.74 0 0 1 10 15l-3-3a.75.75 0 0 1 1-1l2.47 2.47L19 5a.75.75 0 0 1 1 1l-9 9a.74.74 0 0 1-.5.25'/%3E%3Cpath fill='%23000' d='M12 21a9 9 0 0 1-7.87-4.66a8.7 8.7 0 0 1-1.07-3.41a9 9 0 0 1 4.6-8.81a8.7 8.7 0 0 1 3.41-1.07a8.9 8.9 0 0 1 3.55.34a.75.75 0 1 1-.43 1.43a7.6 7.6 0 0 0-3-.28a7.4 7.4 0 0 0-2.84.89a7.5 7.5 0 0 0-2.2 1.84a7.42 7.42 0 0 0-1.64 5.51a7.4 7.4 0 0 0 .89 2.84a7.5 7.5 0 0 0 1.84 2.2a7.42 7.42 0 0 0 5.51 1.64a7.4 7.4 0 0 0 2.84-.89a7.5 7.5 0 0 0 2.2-1.84a7.42 7.42 0 0 0 1.64-5.51a.75.75 0 1 1 1.57-.15a9 9 0 0 1-4.61 8.81A8.7 8.7 0 0 1 12.93 21z'/%3E%3C/svg%3E");
}

.message.tip {
  --_background-color: var(--message-tip-color);
  --_color: var(--message-tip-color);
}

.message.tip > .icon.default {
  --_background-color: var(--message-tip-color);
  --_svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' fill-rule='evenodd' d='M12 4a5.25 5.25 0 0 0-3.049 9.525c.455.325.799.862.799 1.5v1.725c0 .138.112.25.25.25h4a.25.25 0 0 0 .25-.25v-1.726c0-.637.344-1.174.799-1.5A5.25 5.25 0 0 0 12 4M5.25 9.25a6.75 6.75 0 1 1 10.67 5.495c-.126.09-.17.202-.17.28v1.725A1.75 1.75 0 0 1 14 18.5h-4a1.75 1.75 0 0 1-1.75-1.75v-1.726c0-.077-.044-.189-.17-.279A6.74 6.74 0 0 1 5.25 9.25m3 11.5A.75.75 0 0 1 9 20h6a.75.75 0 0 1 0 1.5H9a.75.75 0 0 1-.75-.75' clip-rule='evenodd'/%3E%3C/svg%3E");
}

.message.warning {
  --_background-color: var(--message-warning-color);
  --_color: var(--message-warning-color);
}

.message.warning > .icon.default {
  --_background-color: var(--message-warning-color);
  --_svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M20 18.75H4a.76.76 0 0 1-.65-.37a.77.77 0 0 1 0-.75l8-14a.78.78 0 0 1 1.3 0l8 14a.77.77 0 0 1 0 .75a.76.76 0 0 1-.65.37m-14.71-1.5h13.42L12 5.51Z'/%3E%3Cpath fill='%23000' d='M12 13.25a.76.76 0 0 1-.75-.75V9a.75.75 0 0 1 1.5 0v3.5a.76.76 0 0 1-.75.75m0 3a.76.76 0 0 1-.75-.75V15a.75.75 0 0 1 1.5 0v.5a.76.76 0 0 1-.75.75'/%3E%3C/svg%3E");
}

.message .close-message {
  background-color: var(--_background-color);
  cursor: pointer;
  height: 24px;
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='m13.06 12l4.42-4.42a.75.75 0 1 0-1.06-1.06L12 10.94L7.58 6.52a.75.75 0 0 0-1.06 1.06L10.94 12l-4.42 4.42a.75.75 0 0 0 0 1.06a.75.75 0 0 0 1.06 0L12 13.06l4.42 4.42a.75.75 0 0 0 1.06 0a.75.75 0 0 0 0-1.06Z'/%3E%3C/svg%3E");
  mask-repeat: no-repeat;
  mask-size: 100% 100%;
  width: 24px;
}
