
.modal .content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0.7rem;
}

.modal .dialog {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px #0003;
  color: var(--modal-color, inherit);
  max-height: 80%;
  min-width: 300px;
  left: 50%;
  overflow-y: auto;
  padding: 1rem;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - 2rem);
  z-index: 1000;
}

.modal .footer {
  display: flex;
  gap: 1em;
  margin-left: auto;
  padding: 1em;
}

.modal .header.disabled-header {
  padding-bottom: 0.1rem;
}

.modal .header {
  align-items: center;
  display: flex;
  margin-bottom: 0.5rem;
  justify-content: space-between;
  padding: 0.7rem;
}

.modal .header > span[role=heading] {
  font-size: var(--modal-header-font-size, 1.5rem);
  font-weight: var(--modal-header-font-weight, 700);
}

.modal .header svg {
  --_icon-color: var(--modal-icon-color, #000000);

  color: var(--_icon-color);
  cursor: pointer;
  margin-left: auto;
}

.modal .overlay {
  align-items: center;
  background-color: #00000080;
  display: flex;
  justify-content: center;
  inset: 0;
  position: fixed;
  transition: opacity 0.3s ease;
  z-index: 1000;
}

main:has(.modal > .overlay > .dialog.active) {
  z-index: 999;
}

@media screen and (min-width: 576px) {
  .modal .dialog {
    max-width: 430px;
  }
}
