.page {
  --_page-gap: var(--page-gap, 1.5rem);
  --_page-max-width: var(--page-centered-max-width, 954px);

  display: flex;
  flex-direction: column;
  gap: var(--_page-gap);
}

.page[data-centered="true"] {
  justify-items: center;
  margin: auto;
  max-width: var(--_page-max-width);
}

.page > .page-header {
  align-items: flex-start;
  display: flex;
  gap: var(--_page-gap);
  justify-content: space-between;
}

.page > .page-header > .page-title-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: var(--page-gap, 0.5rem);
  overflow-wrap: break-word;
}

.page > .page-header > .page-title-wrapper > .title {
  align-items: flex-start;
  display: flex;
  gap: 0.5rem;
}

.page > .page-header > .page-toolbar {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: var(--page-gap, 0.5rem);
  justify-content: flex-start;
}

@media (min-width: 576px) {
  .page > .page-header > .page-toolbar {
    height: fit-content;
    justify-content: flex-end;
    margin-left: auto;
  }
}
