.page {
  align-items: stretch;
  display: grid;
  font-size: 1em;
  grid-template-areas:
    "title toolbar"
    "main main";
  grid-template-columns: 1fr auto;
  gap: var(--page-gap, 0.5em);
  justify-items: flex-start;
}

.page > h1 {
  grid-area: title;
}

.page > main {
  grid-area: main;
  width: 100%;
}

.page .back {
  background-image: url("@/assets/svg/chevron-left.svg");
  background-position: center left;
  background-repeat: no-repeat;
  background-size: var(--page-toolbar-icon-width, 1.5rem);
  padding-left: var(--page-toolbar-icon-width, 1.5rem);
}

.page > .toolbar {
  align-self: center;
  font-size: 1em;
  grid-area: toolbar;
  justify-self: right;
}

.page > .speed-dial {
  align-self: center;
  bottom: 5%;
  display: flex;
  grid-area: toolbar;
  justify-self: right;
  position: fixed;
}

.toggle-speed-dial {
  background-image: url("../svg/add.svg");
  background-position: center left;
  background-repeat: no-repeat;
  background-size: var(--page-speed-dial-icon-width, 2rem);
  border: none;
  height: var(--speed-dial-icon-height, 2rem);
  width: var(--speed-dial-icon-width, 2rem);
}

.toggle-speed-dial:focus {
  box-shadow: none;
}

.rotate {
  transform: rotate(45deg);
}
