:root {
  --popup-bg-color: #fff;
  --popup-border-radius: 0.25rem;
  --popup-text-color: #000;
}

.popup-container {
  position: relative;
  display: inline-block;
}

.popup-trigger {
  cursor: pointer;
  width: fit-content;
}

.popup-content {
  --_bg-color: var(--popup-bg-color, #fff);
  --_border-radius: var(--popup-border-radius. 0.25rem);
  --_text-color: var(--popup-text-color, #000);

  background-color: var(--_bg-color);
  border: 1px solid #e5e5e5;
  border-radius: var(--_border-radius);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  color: var(--_text-color);
  padding: 1rem;
  position: fixed;
  z-index: 9999;
}
