:root {
  --popup-text-color: #000;
  --popup-bg-color: #fff;
}

.popup-content {
  --_bg-color: var(--popup-bg-color, #fff);
  --_text-color: var(--popup-text-color, #000);

  background-color: var(--_bg-color);
  border: 1px solid #f5f5f5;
  border-radius: 0.25rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  color: var(--_text-color);
  margin: 0.5rem 0;
  padding: 1rem;
  position: absolute;
  white-space: nowrap;
  z-index: 999;
}

.popup-container {
  display: inline-block;
  position: relative;
}

.popup-trigger {
  position: relative;
  cursor: default;
}
