.stepper {
  --_active-bg: var(--stepper-active-color, #007aff);
  --_bg-color: var(--stepper-bg-color, #fff);
  --_completed-border-color: var(--stepper-completed-border-color, #007aff);
  --_number-border-color: var(--stepper-number-border-color);

  position: relative;
}

.stepper .actions {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
}

.step {
  align-items: start;
  cursor: pointer;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.steps {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.steps > .step::before {
  border-top: 1px solid var(--stepper-line-border-color);
  content: " ";
  display: block;
  left: 1rem;
  position: absolute;
  top: 2rem;
  width: 75%;
  z-index: 0;
}

.step-number {
  background-color: var(--_bg-color);
  border: 1px solid var(--_number-border-color);
  border-radius: 2rem;
  display: inline-block;
  margin: 0.25rem;
  margin-bottom: 0.8rem;
  padding: 0.9rem 1.4rem;
  z-index: 1;
}

.step-number.active {
  background-color: var(--_active-bg);
  color: var(--stepper-number-color, #fff);
}

.step-label {
  color: var(--stepper-label-color);
}

.step-label.active {
  color: var(--stepper-label-active-color);
  font-weight: 500;
}

.step-number.completed {
  border-color: var(--_completed-border-color);
  padding: 0.9rem;
}

.step.active .step-number {
  font-weight: 500;
}
