:root {
  --font-size: clamp(var(--font-size-min), var(--font-size-val), var(--font-size-max));
  --system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

html {
  font-size: var(--font-size);
}

body {
  font-family: var(--system-ui);
  line-height: 1.5;
}

h1 {
  font-size: calc(1.8 * var(--font-size));
}

h2 {
  font-size: calc(1.5 * var(--font-size));
}

h3 {
  font-size: calc(1.2 * var(--font-size));
}

h4 {
  font-size: calc(1.1 * var(--font-size));
}

h5 {
  font-size: var(--font-size);
  text-transform: uppercase;
}

h6 {
  font-size: calc(0.9 * var(--font-size));
}
