:root {
  --background-color: #f9f8fa;
  --border-color: #dee2e6;
  --border-radius: 0.5em;

  --button-alternate-color: var(--dz-alternate-color);
  --button-border-radius: 0.375rem;
  --button-danger-color: var(--dz-danger-color);
  --button-large-padding: 0.6125rem 1.75rem;
  --button-medium-padding: 0.5rem 1.25rem;
  --button-primary-color: var(--dz-primary-color);
  --button-secondary-color: var(--dz-secondary-color);
  --button-small-padding: 0.375rem 0.75rem;
  --button-success-color: var(--dz-success-color);
  --button-transition-duration: var(--transition-duration, 150ms);
  --button-warning-color: var(--dz-warning-color);

  --color: #555;
  --color-alert-danger: #ff0000;
  --color-primary: green;

  --dz-primary-color: #007aff;
  --dz-secondary-color: #475569;
  --dz-alternate-color: #0284c7;
  --dz-danger-color: #dc3545;
  --dz-success-color: #22c55e;
  --dz-warning-color: #ea580c;

  --font-size-max: 1rem;
  --font-size-min: 1rem;
  --font-size-val: 2.5vw;

  --form-input-border-color: #555;
  --form-input-border-color-highlight: #555;
  --form-input-error-font-size: 0.8em;
  --form-input-margin-bottom: 1em;
  --form-input-padding-h: 0.5em;
  --form-input-padding-v: 0.5em;

  --loading-button-bg-color: #1c4786;
  --loading-button-color: #ffffff;

  --page-max-width: 550px;

  --menu-border-color: #555;
}
