.layout > header {
  --_header-bg-color: var(--header-bg-color, transparent);
  --_header-border-color: var(--header-border-color);
  --_header-border-width: var(--header-border-width, 5px);
  --header-font-size: var(--font-size);
  --header-gap: 0.5rem;
  --header-logo-max-width: 150px;
  --header-padding-v: 1em;

  align-items: center;
  border: none;
  border-image: linear-gradient(0deg, var(--_header-border-color) var(--_header-border-width), var(--_header-bg-color) 0) fill 0/0/0 100vw;
  display: grid;
  font-size: var(--header-font-size);
  gap: 0 var(--header-gap);
  grid-template-areas:
    "logo toggle"
    "nav nav";
  grid-template-columns: var(--header-logo-max-width) 1fr;
  grid-template-rows: auto auto;
  justify-items: center;
  padding-bottom: var(--header-padding-v);
  padding-top: var(--header-padding-v);
  position: relative;
}

.layout > header > nav {
  align-items: stretch;
  background-color: #fff;
  border-bottom: 1px solid var(--menu-border-color, #000);
  opacity: 1;
  display: flex;
  flex-direction: column;
  gap: var(--menu-gap, 1em);
  grid-area: nav;
  justify-content: flex-start;
  left: 0;
  margin-left: calc(-1 * var(--layout-basic-padding-left, 1em));
  margin-right: calc(-1 * var(--layout-basic-padding-right, 1em));
  padding-bottom: var(--header-padding-bottom, 1em);
  padding-left: var(--layout-basic-padding-left, 1em);
  padding-right: var(--layout-basic-padding-right, 1em);
  padding-top: var(--header-padding-top, 1em);
  position: absolute;
  right: 0;
  top: var(--header-padding-top, 1em);
  z-index: 1;
}

.layout > header > nav[data-expanded="false"] {
  display: none;
}

.layout > header .logo {
  grid-area: logo;
  max-width: var(--header-logo-max-width, 150px);
}

.layout > header .toggle {
  cursor: pointer;
  grid-area: toggle;
  justify-self: right;
}

.layout > header .main-menu {
  flex: 1;
}

@media screen and (min-width: 600px) {
  .layout > header {
    grid-template-areas: "logo nav";
    justify-items: stretch;
  }

  .layout > header > nav {
    align-items: center;
    background-color: var(--_header-bg-color);
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    position: relative;
    top: 0;
  }

  .layout > header > nav[data-expanded="false"] {
    display: flex;
  }

  .layout > header .toggle {
    display: none;
  }
}
