.layout > header {
  --_layout-header-bg: var(--layout-header-bg, transparent);
  --_layout-header-sidebar-bg: var(--layout-header-sidebar-bg, #fff);
  --_layout-header-border: var(
      --layout-header-border,
      1px solid var(--border-color, #e5e7eb)
    );
  --_layout-header-color: var(--dz-layout-header-color, #2c2c2c);
  --_layout-header-gap: var(--layout-header-gap, 1rem);;
  --_layout-header-logo-max-width: var(--layout-header-logo-max-width, 8rem);
  --_layout-header-padding-h: var(--layout-header-padding-h, 1rem);
  --_layout-header-padding-v: var(--layout-header-padding-v, 1rem);

  align-items: center;
  background: var(--_layout-header-bg);
  border-bottom: var(--_layout-header-border);
  color: var(--_layout-header-color);
  display: grid;
  gap: 0.25rem;
  grid-template-areas:
    "logo toggle"
    "nav nav";
  grid-template-columns: var(--_layout-header-logo-max-width) 1fr;
  grid-template-rows: auto auto;
  justify-items: flex-end;
  padding: var(--_layout-header-padding-v) var(--_layout-header-padding-h);
  position: relative;
  width: 100%;
  z-index: 100;
}

.layout > header > nav {
  --_padding-v: 1rem;

  background: var(--_layout-header-sidebar-bg);
  justify-content: flex-end;
  max-height: 100dvh;
  left: 0;
  padding-block: var(--_padding-v);
  position: absolute;
  top: calc(100% + 1px);
  transform: translateX(-100%);
  transition: transform var(--transition-duration, 0.15s) ease-in-out;
  width: 100%;
  z-index: 999;
}

.layout > header > nav[data-expanded="true"] {
  transform: translateX(0);
}

.layout > header:not(:has(.logo)):not(:has(.main-menu)) {
  display: flex;
  justify-content: end;
}

.layout header:not(:has(.logo)):not(:has(.main-menu)) .toggle {
  --_justify-self: left;
  --_padding-left: 1rem;

  padding-left: var(--_padding-left);
  width: 100%;
}

.layout > header .logo {
  grid-area: logo;
  max-width: var(--_layout-logo-max-width, 150px);
}

.layout > header > .toggle {
  --_background-color: var(--dz-secondary-color);

  align-content: center;
  border-radius: 50%;
  cursor: pointer;
  grid-area: toggle;
  height: 2.875rem;
  justify-items: center;
  margin-left: -0.75rem;
  width: 2.875rem;
}

.layout > header > .toggle:hover {
  background-color: 
    color-mix(in srgb, var(--_background-color) 10%, white);
}

.layout > header .main-menu {
  flex: 1;
}

@media screen and (min-width: 576px) {
  .layout > header {
    display: flex;
    gap: var(--_layout-header-gap);
    position: relative;
  }

  .layout > header > nav {
    align-items: center;
    display: flex;
    background: var(--_layout-header-bg);
    gap: var(--_layout-header-gap);
    flex-direction: row;
    height: auto !important;
    padding: 0;
    position: unset;
    max-width: none;
    padding: 0;
    transform: none;
    transition: none;
  }

  .layout > header > nav[data-expanded="false"] {
    display: flex;
    justify-content: flex-end;
  }
}
