.layout > header {
  --header-bg-color: transparent;
  --header-border-color: var(--border-color, #e5e7eb);
  --header-font-size: var(--font-size);
  --header-gap: 1.5rem;
  --_layout-logo-max-width: var(--layout-logo-max-width, 150px);
  --_layout-header-padding-h: var(--layout-header-padding-h, 1rem);
  --_layout-header-padding-v: var(--layout-header-padding-v, 1rem);

  align-items: center;
  border-bottom: 1px solid var(--header-border-color);
  display: grid;
  font-size: var(--header-font-size);
  gap: 0 var(--header-gap);
  grid-template-areas:
    "logo toggle"
    "nav nav";
  grid-template-columns: var(--_layout-logo-max-width) 1fr;
  grid-template-rows: auto auto;
  justify-items: flex-end;
  padding: var(--_layout-header-padding-v) var(--_layout-header-padding-h);
  position: relative;
  z-index: 100;
}

.layout > header::before {
  content: "";
  background-color: var(--header-bg-color);
  box-shadow: 0 0 0 100vmax var(--header-bg-color);
  clip-path: inset(calc(-1 * var(--header-padding-top)) -100vmax calc(-1 * var(--header-padding-bottom, 1em)) -100vmax);
  grid-column: 1 / span 2;
  grid-row: 1 / 1;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.layout > header > nav {
  align-items: stretch;
  background-color: #fff;
  opacity: 1;
  display: flex;
  flex-direction: column;
  gap: var(--menu-gap, 1em);
  grid-area: nav;
  justify-content: flex-start;
  z-index: 1;
  width: 100%;
}

.layout > header:not(:has(.logo)):not(:has(.main-menu)) {
  display: flex;
  justify-content: end;
}

.layout header:not(:has(.logo)):not(:has(.main-menu)) .toggle {
  --_justify-self: left;
  --_padding-left: 1rem;

  padding-left: var(--_padding-left);
  width: 100%;
}

.layout > header > nav[data-expanded="false"] {
  display: none;
}

.layout > header .logo {
  grid-area: logo;
  max-width: var(--_layout-logo-max-width, 150px);
}

.layout > header > .toggle {
  --_background-color: var(--dz-secondary-color);

  align-content: center;
  border-radius: 50%;
  cursor: pointer;
  grid-area: toggle;
  height: 2.875rem;
  justify-items: center;
  margin-left: -0.75rem;
  width: 2.875rem;
}

.layout > header > .toggle:hover {
  background-color: 
    color-mix(in srgb, var(--_background-color) 10%, white);
}

.layout > header .main-menu {
  flex: 1;
  margin-block: 1rem;
}

@media screen and (min-width: 576px) {
  .layout > header {
    display: flex;
  }

  .layout > header .main-menu {
    margin-block: 0;
  }

  .layout > header > nav {
    align-items: center;
    background-color: var(--header-bg-color);
    border: none;
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    position: relative;
    top: 0;
  }

  .layout > header > nav[data-expanded="false"] {
    display: flex;
    justify-content: flex-end;
  }
}
