.nav-menu-item > .link.active {
  background: var(--_active-bg);
  color: var(--_active-color);
  text-decoration: none;
}

.nav-menu-item > .link {
  --_active-bg: var(--nav-item-active-bg, #eff6ff);
  --_active-color: var(--nav-item-active-color, #2c2c2c);
  --_border-radius: var(--nav-item-border-radius, 0);
  --_color: var(--nav-item-color, #2c2c2c);
  --_disabled-color: var(--nav-item-disabled-color, #6d7b92);
  --_hover-color: var(--nav-item-hover-color, #2c2c2c);
  --_hover-bg: var(--nav-item-hover-bg, #f0f2f7ad);
  --_padding-h: var(--nav-item-padding-h, 1rem);
  --_padding-v: var(--nav-item-padding-v, 0.5rem);
  --_transition-duration: var(--transition-duration, 0.15s);

  align-items: baseline;
  border-radius: var(--_border-radius);
  color: var(--_color);
  cursor: pointer;
  display: flex;
  gap: 0.75rem;
  height: var(--_height);
  justify-content: space-between;
  padding: var(--_padding-v) var(--_padding-h);
  text-decoration: none;
  transition:
    background var(--_transition-duration) linear,
    font-weight var(--_transition-duration) linear,
    color var(--_transition-duration) linear;
  width: 100%;
}

.nav-menu-item > .link:not(.active):hover {
  background: var(--_hover-bg);
  color: var(--_hover-color);
  text-decoration: none;
}

.nav-menu-item > .link:has(.icon-only) {
  font-size: 0.9rem;
}

.nav-menu-item > .link > span.item-name {
  flex: 1;
}

.nav-menu-item .toggle-menu > svg {
  transition: transform 0.3s ease;
}

.nav-menu-item .toggle-menu > svg.up-chevron {
  transform: rotate(180deg);
}

.sub-menu-item {
  --_gap: var(--nav-menu-gap, 0.25rem);

  display: flex;
  flex-direction: column;
  gap: var(--_gap);
  margin-left: 1rem;
  max-height: 100dvh;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
}

.sub-menu-item.fade-enter-active,
.sub-menu-item.fade-leave-active {
  transition: max-height 0.5s ease-in-out;
}

.sub-menu-item.fade-enter-from,
.sub-menu-item.fade-leave-to {
  max-height: 0;
}

.sub-menu-item .link {
  --_submenu-padding-left: var(--nav-menu-padding-left, 2rem);
  --_submenu-padding-right: var(--nav-menu-padding-right, 2rem);

  padding-left: var(--_submenu-padding-left);
  padding-right: var(--_submenu-padding-right);
}

.toggle-menu {
  --_width: 1rem;

  width: var(--_width);
}
