.no-sidebar > img {
  --_bg-color: var(--sidebar-bg-color, #007aff);
  --_border-radius: 2rem;
  --_width: 2rem;

  background-color: var(--_bg-color);
  border-radius: 0 var(--_border-radius) var(--_border-radius) 0;
  cursor: pointer;
  margin-top: 1rem;
  width: var(--_width);
}

.sidebar {
  --_bg-color: var(--sidebar-bg-color, #007aff);
  --_color: var(--sidebar-color, #fff);
  --_height: var(--sidebar-height, auto);
  --_position: var(--sidebar-position, fixed);
  --_width: var(--sidebar-width, 16rem);

  background-color: var(--_bg-color);
  bottom: 0;
  color: var(--_color);
  display: flex;
  flex-direction: column;
  height: var(--_height);
  left: 0;
  overflow: hidden;
  position: var(--_position);
  top: 0;
  transition: 0.2s ease-out;
  width: var(--_width);
}

.sidebar .sidebar-menu-wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.sidebar .sidebar-menu-wrapper > ul:has(.nav-menu-item) {
  flex: 1;
}

.sidebar > .footer {
  --_bg-color: var(--sidebar-bg-color, transparent);
  --_border-color: var(--sidebar-border-color, #dee2e6);
  --_font-size: var(--sidebar-font-size, 1rem);
  --_gap: var(--footer-gap, 1rem);
  --_justify-content: var(--sidebar-justify-content, center);
  --_padding-top: var(--footer-padding-v, 1rem);
  --_padding-bottom: var(--footer-padding-v, 1rem);
  --_width: var(--sidebar-width, 100%);

  align-items: center;
  background-color: var(--_bg-color);
  border-top: 1px solid var(--_border-color);
  box-shadow: 0 0 0 100vmax var(--_bg-color);
  clip-path: inset(0 -100vmax);
  display: flex;
  flex-direction: column;
  font-size: var(--_font-size);
  gap: var(--_gap);
  justify-content: var(--_justify-content);
  padding-bottom: var(--_padding-bottom);
  padding-top: var(--_padding-top);
  text-align: center;
  width: var(--_width);
}

.sidebar > .header {
  --_border-color: var(--sidebar-border-color, #dee2e6);
  --_padding-h: var(--sidebar-padding-h, 1rem);
  --_padding-v: var(--sidebar-padding-v, 1.5rem);

  align-items: center;
  border-bottom: 1px solid var(--_border-color);
  display: flex;
  justify-content: space-between;
  padding: var(--_padding-v) var(--_padding-h);
}

.sidebar > .header > .logo {
  --_max-width: var(--sidebar-logo-max-width, 150px);

  max-width: var(--_max-width);
  width: 100%;
}

.sidebar > .header > .toggle {
  cursor: pointer;
  width: var(--sidebar-toggle-icon-width, 1.5rem);
}

.sidebar-toggle-enter-active {
  transition: opacity 0.3s ease-in-out;
}

.sidebar-toggle-enter-from {
  opacity: 0;
}

.sidebar:has(.extend) {
  --_width: var(--sidebar-collapsed-width, 6rem);

  overflow: visible;
  width: var(--_width);
}

.sidebar:has(.extend) > .header > .logo {
  width: max-content;
}

.toggle > .extend {
  --_bg-color: var(--sidebar-bg-color, #007aff);
  --_border-color: var(--sidebar-border-color, #fff);
  --_border-radius: 2rem;
  --_width: 2rem;

  background-color: var(--_bg-color);
  border: solid 1px var(--_border-color);
  border-radius: var(--_border-radius);
  left: 5rem;
  position: absolute;
  padding: 0.25rem;
  top: 1rem;
  width: var(--_width);
}
