.demo {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
  width: 100%;
}

.demo > .demo-main {
  flex-basis: 0;
  flex-grow: 999;
  height: 100%;
  padding-block: var(--layout-default-padding-v, 2.5rem);
  padding-inline: var(--layout-default-padding-v, 2rem);
}

.demo-aside {
  --_bg-color: #fff;
  --_color: #4e4e4e;
  --_position: relative;
  --_width: 100%;

  flex-basis: 17rem;
  flex-grow: 1;
  overflow: unset;
}

.demo-aside .link.active,
.demo-aside .link:hover {
  --_bg-color: rgba(45, 45, 45, .125);
  --_hover-bg-color: rgba(45, 45, 45, .125);

  border-radius: 0.312rem;
}

.demo-aside .nav-menu-item > .link {
  --_font-weight: 400;
}

.demo-aside .nav-menu > .menu {
  border-bottom: none;
}

.layout > main:has(.demo) {
  padding: 0;
}

.demo-main .page .back {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pg0KDQo8IS0tIFVwbG9hZGVkIHRvOiBTVkcgUmVwbywgd3d3LnN2Z3JlcG8uY29tLCBHZW5lcmF0b3I6IFNWRyBSZXBvIE1peGVyIFRvb2xzIC0tPg0KPHN2ZyB3aWR0aD0iODAwcHgiIGhlaWdodD0iODAwcHgiIHZpZXdCb3g9IjAgMCAyNCAyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4NCg0KPHRpdGxlLz4NCg0KPGcgaWQ9IkNvbXBsZXRlIj4NCg0KPGcgaWQ9IkYtQ2hldnJvbiI+DQoNCjxwb2x5bGluZSBmaWxsPSJub25lIiBpZD0iTGVmdCIgcG9pbnRzPSIxNS41IDUgOC41IDEyIDE1LjUgMTkiIHN0cm9rZT0iIzAwMDAwMCIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBzdHJva2Utd2lkdGg9IjIiLz4NCg0KPC9nPg0KDQo8L2c+DQoNCjwvc3ZnPg==);
  background-position: center left;
  background-repeat: no-repeat;
  background-size: var(--page-toolbar-icon-width, 1.5rem);
  padding-left: var(--page-toolbar-icon-width, 1.5rem);
}

@media screen and (min-width: 576px) {
  .demo {
    flex-direction: row;
  }

  .demo-aside {
    border-right: 1px solid var(--border-color, #e5e7eb);
    height: 100%;
    overflow-y: auto;
  }

  .demo > .demo-main {
    overflow-y: auto;
  }
}
