.demo {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 2rem;
  height: 100%;
  width: 100%;
}

.demo > .demo-main {
  flex-basis: 0;
  flex-grow: 999;
  height: 100%;
  padding-block: var(--layout-default-padding-v, 2.5rem);
  padding-inline: var(--layout-default-padding-v, 2rem);
}

.demo-aside {
  --_bg-color: #fff;
  --_color: #4e4e4e;
  --_position: relative;
  --_width: 100%;

  flex-basis: 17rem;
  flex-grow: 1;
  overflow: unset;
}

.demo-aside .link.active,
.demo-aside .link:hover {
  --_bg-color: rgba(45, 45, 45, .125);
  --_hover-bg-color: rgba(45, 45, 45, .125);

  border-radius: 0.312rem;
}

.demo-aside .nav-menu-item > .link {
  --_font-weight: 400;
}

.demo-aside .nav-menu > .menu {
  border-bottom: none;
}

.layout > main:has(.demo) {
  padding: 0;
}

@media screen and (min-width: 576px) {
  .demo {
    flex-direction: row;
  }

  .demo-aside {
    --_border-color: var(--border-color, #dee2e6);
    --_position: sticky;
    --_width: 15rem;

    border-right: 1px solid var(--_border-color);
    height: 100%;
    min-width: var(--_width);
    overflow-y: auto;
    padding: 1rem 2rem;
  }

  .demo > .demo-main {
    overflow-y: auto;
  }
}
