.layout header .addon {
  --_padding-h: var(--nav-item-padding-h, 1rem);
  --_padding-v: var(--nav-item-padding-v, .5rem);

  display: block;
  padding: var(--_padding-v) var(--_padding-h);
}

.layout header .addon:hover {
  cursor: pointer;
  text-decoration: underline;
}

.layout header .addon a[target="_blank"]::after {
  content: none;
}

@media screen and (min-width: 576px) {
  .layout header .addon {
    display: block;
    padding: 0;
  }
}
