.layout header .addon {
  --_padding-h: var(--nav-item-padding-h, 1rem);
  --_padding-v: var(--nav-item-padding-v, .5rem);

  display: block;
  padding: var(--_padding-v) var(--_padding-h);
}

.layout header .addon:hover {
  background-color: var(--nav-item-hover-bg, #eff6ff);
  border-radius: 0.325rem;
  color: var(--nav-item-hover-color, #2c2c2c);
  cursor: pointer;
}

@media screen and (min-width: 576px) {
  .layout header .addon {
    display: block;
  }
}
