#app > .layout {
  height: 100dvh;
}

.layout.basic {
  --layout-basic-max-width: 100%;
}

.layout header > nav {
  opacity: 0.95;
}

.layout > main {
  overflow-y: auto;
}

section:has(h3) {
  margin-bottom: 1em;
}

.demo section:has(h2) {
  margin-bottom: 2.5em;
}

.demo .section-content {
  display: grid;
  gap: 1.5rem;
  margin-top: 1em;
}

.ssh-pre {
  margin-bottom: 1em;
}
