:root {
  --form-input-border-color-highlight: red;
}

.layout > footer {
  --_bg-color: lightblue;
  --_border-color: transparent;
}

.layout > header {
  --_bg-color: lightblue;
  --_border-color: transparent;
}
